[2018-08-15 15:58] Sub6Resources opened #1 "Add Support for Deprecated Elements"
For some use-cases, the html is probably out of the hands of the person trying to render it. To ensure that the desired html renders for all use cases, deprecated elements should at least have their text rendered.

Here are the deprecated elements that need support (anybody can submit a pull request adding one or many of these):

- [x] `acronym`
- [x] `big`
- [x] `center`
- [ ] ~~`noframe`~~
- [x]

[2018-08-15 16:03] Sub6Resources opened #2 "Add custom tag callback"
Some use cases may require custom tags to be rendered. Add a callback to the main `Html` widget that is called every time an unknown element is encountered. The programmer can then return their own widget for their custom elements.

[2018-08-15 16:09] Sub6Resources commented on #2
Here is an example of what the callback might look like:

    Html(
      data: myHtmlWithCustomTags,
      customTagCallback: ((element) {
        switch(element.localName) {
          case "my-custom-tag":
            return MyWidget(
              text: "Lorem ipsum dolor sit amet",
              onPressed: (() {
                //...
              }),
            );
        }
        return Co

[2018-08-15 16:14] Sub6Resources opened #3 "Add support for tables"
`table` (and `tr`, `td`, `th`, etc.) are relatively simple to implement and should be included in Version 0.4.0.

[2018-08-15 17:31] Sub6Resources commented on #3
Fixed in Version 0.4.0

[2018-08-15 17:31] #3 closed

[2018-08-15 17:45] Sub6Resources opened #4 "Table rows do not line up"
Table data does not line up like an html table would.

[2018-08-15 19:01] Sub6Resources opened #6 "Images do not load within p tag"
Reported by @loitran.

Awaiting pull request #5

[2018-08-15 19:18] Sub6Resources opened #7 "Find/create alternative to RichText for styling text"
RichText works well, but it is not possible to have a widget inside of the `TextSpan` tree. This makes it difficult when tags like `pre` contain tags like `img`.

Creating or finding a widget that can take either a TextSpan or a Widget as a child would be a perfect solution and help to avoid the whole "supportedElement" "supportedInlineElement" discrepancy.

[2018-08-17 16:52] zemiguelll opened #9 "<i> and <b> tags creating a break"
When using < i > and < b > tags the change on the text is not being made inline, a new line is being created.
From your example:
< p >Lorem ipsum < b >dolor< /b > sit amet.< /p >
becomes:
Lorem ipsum
**dolor**
sit amet.

Also, when adding only fontSize to the TextStyle the bold or italic changes to white (adding "color: Colors.black" fixes it, but it would be good to keep a consistent default colo

[2018-08-17 18:40] Sub6Resources commented on #9
Ah, yup. That's a big issue. Thanks for reporting that. I built this relatively quickly and recently, so we're still working out a couple major bugs.

I'm aware of the text color issue, but if you wouldn't mind opening a new issue with that issue that would be great to help keep things organized.

[2018-08-17 20:06] Sub6Resources commented on #7
Currently being fixed as 0.5.0. This will be a major refactor and possibly affect all open issues and pull requests (but it's for a greater cause, a package that better embraces Flutter's "Everything is a Widget" philosophy).

[2018-08-20 12:52] zemiguelll commented on #9
Hi @Sub6Resources, first of all thank you for all the work put into this plugin!
Thanks for the quick reply, I will open a ticket for the other issue.

[2018-08-20 12:57] zemiguelll opened #10 "Inconsistent default text color for different tags when using TextStyle"
When adding only fontSize to the TextStyle the bold or italic text changes to white.
`new Html(data: feed["body"], defaultTextStyle: fontSize: 16.0))`

Note: adding "color: Colors.black" fixes it, but it would be good to keep a consistent default color.
`new Html(data: feed["body"], defaultTextStyle: TextStyle(color: Colors.black, fontSize: 16.0))`

[2018-08-22 15:01] Sub6Resources commented on #10
This will be fixed in 0.5.0 as soon as I push it.

[2018-08-22 15:03] Sub6Resources commented on #9
@zemiguelll I'm in the middle of a major refactor that will fix this issue and several others.  It will be released as 0.5.0 in the next couple days after I work out a couple issues with the refactor.

[2018-08-23 14:13] spikeye commented on #9
Thanks for woking.I need it too

[2018-08-23 19:01] ozc opened #11 "Flutter SDK 0.7.x support"
The current Flutter SDK version is 0.7.1-pre.7.

Because patriot depends on flutter_html >=0.1.0 which requires Flutter SDK version >=0.5.0 <0.6.0, version solving failed.
pub get failed (1)

[2018-08-24 04:44] #7 closed

[2018-08-24 04:44] #9 closed

[2018-08-24 04:44] #10 closed

[2018-08-24 04:44] #11 closed

[2018-08-24 04:44] Sub6Resources commented on #11
Fixed in version 0.5.0

[2018-08-24 04:45] Sub6Resources commented on #10
Version 0.5.0 has been pushed and this issue fixed!

[2018-08-24 04:45] Sub6Resources commented on #9
This has just been fixed in 0.5.0.

[2018-08-24 12:28] JiangJuHong opened #13 "Some questions about `li` Tags (Adding full support for ol, ul, and li)"
Hello, when I use the `li'tag, it doesn't generate an automatic sequence for me. Please ask me if I should conform to the configuration to be able to solve it. #Request

[2018-08-24 14:16] Sub6Resources commented on #13
Currently the `ol`, `ul` and `li` tags only have partial support, meaning that the list will show up, but without the bullets or the numbered sequence.

I plan to add support for those elements soon!

[2018-08-25 20:37] Sub6Resources commented on #1
Here are the elements that need support (anybody can submit a pull request adding one or many of these):

- [ ] `acronym`
- [ ] `big`
- [ ] `noframe`
- [ ] `strike`
- [ ] `tt`

[2018-08-25 20:41] Sub6Resources opened #14 "Add support for tags with planned support"
Feel free to submit a pull request adding one or many of the following (all will be added by version 1.0.0):

- [x] `audio` (see #127)
- [x] `bdi`
- [x] `bdo`
- [x] `source`
- [x] `sub`
- [x] `sup`
- [x] `svg`
- [x] ~~`track`~~
- [x] `video` (see #126)
- [x] ~~`wbr`~~
- [x] `iframe` (see #128)

[2018-08-25 22:04] Sub6Resources commented on #4
Fixed in Version 0.5.1 (8e0b497)

[2018-08-25 22:04] #4 closed

[2018-08-26 02:36] Sub6Resources commented on #14
`bdi` and `bdo` added in 0.5.2 (f5081f2)

[2018-08-26 03:54] Sub6Resources commented on #1
Support for `strike` and `tt` added in 0.5.3 (88c3568)

[2018-08-27 07:51] chusmf commented on #9
I have ^0.5.3 version and I still have the same problem

[2018-08-27 13:26] Sub6Resources commented on #9
@chusmf What does your html code look like?

On Mon, Aug 27, 2018, 1:51 AM chusmf <notifications@github.com> wrote:

[2018-08-28 12:18] chusmf commented on #9
It happens when the sentence occupies more than 1 line in the space.

In the next example, the two first p tags are ok, the third one breaks in two lines

[code]

[2018-08-31 23:25] Sub6Resources opened #16 "Add option to render whitespace"
Some sources remove `<br />` tags in favor of using the newline characters as line breaks when rendering. A parameter needs to be added (perhaps `renderWhitespace`) that defaults to false.

[2018-08-31 23:45] Sub6Resources opened #17 "Wrapping issue on long lines"
Reported in #9 by @chusmf:

    Html(
           data: """
           <div>
             <p>You <b>cannot </b> install a nonexistent product!</p>
             <p>You <b>cannot install </b>  a nonexistent product!</p>
             <p>You <b>cannot install </b> a nonexistent product from that shop!</p>
           </div>
           """,
           padding: EdgeInsets.all(8.0),
           backgroundCo

[2018-08-31 23:45] Sub6Resources commented on #9
Hmm, this looks like a slightly different issue @chusmf. I've opened a new issue: https://github.com/Sub6Resources/flutter_html/issues/17

[2018-09-02 05:44] Atulin commented on #16
I added `flutter_html` to my app today, and it renders code with `\r\n` as new line perfectly fine. Although it could be because each paragraph is in its own `<p></p>`

[2018-09-02 06:34] Atulin opened #18 "Style according to app style"
My app can switch themes dynamically, and having to swap text color to white on dark themes and black on light themes is a lil' bit of a bother. IMHO it should exist as an **override** to the default style settings, and by default, the HTML view should adjust colours accordingly to the theme applied (maybe even hyperlinks being in the accent colour instead of blue..?)

That is, of course, if it's

[2018-09-04 02:46] Sub6Resources commented on #18
That's definitely a valid use-case. I'll look into it and see what I can do. My focus right now is on adding support for currently unsupported elements, so it may be a couple versions, but this will definitely be put on the roadmap for a future (pre-1.0.0) version.

[2018-09-04 19:59] Sub6Resources commented on #1
Support for `acronym` and `big` added in 0.5.5 (6f684ac)

[2018-09-05 00:47] Sub6Resources commented on #16
Yeah, a `<p></p>` tag would render newlines because it is a block element. This feature is more for rendering html that uses newlines instead of `<br />` to display a line break (WordPress, for example replaces all `<br />` tags with a newline)

[2018-09-05 00:48] Sub6Resources commented on #16
This is fixed in 0.5.6 (f1e5607)

[2018-09-05 00:48] #16 closed

[2018-09-05 00:50] Sub6Resources commented on #1
(Partial) support for `center` added in 0.5.6 (f1e5607)

[2018-09-05 00:55] Sub6Resources opened #19 "Add support for basic inline styles"
Basic inline styles (like `color`, `font-weight`, `align`, etc.) could be rendered without too much trouble. Support for these will be added by or with 1.0.0

[2018-09-05 04:39] Sub6Resources commented on #1
I've decided that `noframe` is out of the scope of this project. If anybody needs support for it, comment on this issue.

[2018-09-05 09:27] Adversarys opened #20 "Hello, when I tried to load HTML, the following error occurred."
Found img
I/flutter (18233): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter (18233): The following assertion was thrown building Html(dirty):
I/flutter (18233): 'package:flutter/src/painting/image_provider.dart': Failed assertion: line 405 pos 16: 'url !=
I/flutter (18233): null': is not true.
I/flutter (18233):
I/flutter (18233): Eit

[2018-09-05 19:13] Sub6Resources commented on #20
Do you have an `img` tag without a `src` attribute?

[2018-09-06 01:00] Adversarys commented on #20
yes, My HTML code is automatically generated, and I can't guarantee that it has the SRC attribute. Is there a default solution?

[2018-09-06 02:54] Sub6Resources commented on #20
I'll work on getting a version that does a check for the `src` attribute. If it doesn't exist, we'll look for an `alt` attribute, and if that doesn't exist we'll just ignore it.

[2018-09-06 03:17] Sub6Resources commented on #20
Fixed in version 0.6.2 (commit 20a3ff2). Thanks for reporting!

[2018-09-06 03:17] #20 closed

[2018-09-07 10:52] JiangJuHong opened #21 "Hello, I have an idea. Can you provide a way for users to customize the parsing format of tags? Users can customize parsing methods by themselves when they are not customized. For example, I want to customize the content of `code` parsing into code format."
Hello, I have an idea. Can you provide a way for users to customize the parsing format of tags? Users can customize parsing methods by themselves when they are not customized. For example, I want to customize the content of `code` parsing into code format. Thank you very much for your help. This framework has solved many problems and I like it very much.

[2018-09-07 14:19] Sub6Resources commented on #2
Also, the callback would be able to override a tag and add its own implementation (as in #21 ):

    Html(
      data: myHtml,
      customTagCallback: ((element) {
        switch(element.localName) {
          case "code":
            return MyCustomCodeWidget(
              code: element.innerHTML,
            );
        }
        return Container();
      }),
    )

[2018-09-11 00:37] Sub6Resources commented on #21
Closing as duplicate of #2 (Feel free to add more info if you don't think this is correct)

[2018-09-11 00:37] #21 closed

[2018-09-11 00:48] Sub6Resources commented on #13
Support for `li`, `ul`, and `ol` added in Version 0.7.0 (bd19c57)

[2018-09-11 00:48] #13 closed

[2018-09-11 16:41] JiangJuHong opened #24 "Hello, when I try to show a whole string of English strings, it is forced to separate words by line. I don't know how to fix it. Here's the test HTML code I run, which works perfectly in the browser."
Hello, when I try to show a whole string of English strings, it is forced to separate words by line. I don't know how to fix it. Here's the test HTML code I run, which works perfectly in the browser.
`<div><div class="rich_media_content " id="js_content"> <p><span>&#x5916;&#x56FD;&#x4EBA;&#x5728;&#x6211;&#x4EEC;&#x773C;&#x91CC;&#x662F;&#x4EC0;&#x4E48;&#x6837;&#xFF1F;&#x6DF1;&#x9083;&#x7684;&#x53CC

[2018-09-11 20:57] Sub6Resources commented on #24
Thanks I'll take a look at this.

[2018-09-12 02:34] Sub6Resources commented on #24
Thanks for reporting. I've discovered the issue and am working on pushing the update right now.

[2018-09-12 02:51] Sub6Resources commented on #24
Fixed in 0.7.1 (commit 574c4d3)

[2018-09-12 02:51] #24 closed

[2018-09-12 03:21] JiangJuHong opened #25 "Hello, I am here again. I have several ideas. 1. When I use the `a'tag, can I add a click event, open the user's default browser, and jump. 2. When I use the `img'tag, can I add a click event, preview the picture when I click and save it for download? I know these two functions can be achieved through callbacks, but there will be unnecessary trouble. Or, if you can provide a click callback, I will customize callback events when I click on a tag."
Hello, I am here again. I have several ideas.

1. When I use the `a'tag, can I add a click event, open the user's default browser, and jump.

2. When I use the `img'tag, can I add a click event, preview the picture when I click and save it for download?

I know these two functions can be achieved through callbacks, but there will be unnecessary trouble.

Or, if you can provide a click callback, I

[2018-09-12 04:00] Sub6Resources commented on #25
Thanks for the suggestions. Here are my thoughts:

  A `click` callback is definitely on the roadmap. The callback will probably pass in the node object so that a callback implementation can read the clicked object's attributes and node tree. The callback may be added post-1.0.0 depending on what issues arise.

My thoughts on suggestions 1 and 2

1. I'm still debating whether or not to provide a b

[2018-09-12 04:00] #25 closed

[2018-09-12 04:38] JiangJuHong commented on #24
Hello, when I upgraded to the 0.7.1 version, the problem still exists. @Sub6Resources

[2018-09-12 04:50] JiangJuHong commented on #20
Hello, I did not find the `customTagCallback` attribute in the `HTML` component. Do you want to change the address? @Sub6Resources

[2018-09-12 04:51] JiangJuHong commented on #21
Hello, I did not find the customTagCallback attribute in the HTML component. Do you want to change the address? @Sub6Resources

[2018-09-12 05:15] krmao opened #26 "really a good plugin"
[code]

[2018-09-12 05:16] #26 closed

[2018-09-12 14:36] Sub6Resources commented on #2
This is currently being added in #23 and will likely be added as version 0.7.2

[2018-09-13 08:20] NicoDreamzZ opened #27 "Debug messages when using Html widget"
Hey,
i think you forgot some debug prints in the code.
When the Html widget is rendered this is spamed into debug console:
[code]

[2018-09-13 13:40] Sub6Resources commented on #27
Yes, this will be fixed in PR #23, sorry for the inconvenience.

[2018-09-20 00:04] daimionsg commented on #27
Is is still save to publish the app with this bug? I'm hoping it is something that only occurs in debug mode, but doesn't cause any problems in release?

[2018-09-20 08:12] NicoDreamzZ commented on #27
The messages only apper in the debug console, i think its save to publish

[2018-09-20 14:12] Sub6Resources commented on #27
Yes, that's correct. You shouldn't have any noticeable issues if you publish with this bug.

[2018-09-27 12:52] JiangJuHong opened #28 "Hello, when I use the `li` tag, when the content is full of one line. `li` index will occupy a single line. Is there any good solution? In addition, when I use the `ol` tag, it will be output as it is. I'm looking forward to the 0.8.0 version! Thank you!"
Hello, when I use the `li` tag, when the content is full of one line. `li` index will occupy a single line. Is there any good solution? In addition, when I use the `ol` tag, it will be output as it is. I'm looking forward to the 0.8.0 version! Thank you!

[2018-09-27 14:15] Sub6Resources commented on #28
I'm not sure I understand what you mean. Could you post your html and a screenshot of the problem.

[2018-09-27 16:48] JiangJuHong commented on #28
![image](https://user-images.githubusercontent.com/17740963/46161386-ff21a980-c2b7-11e8-87be-89727ba1d703.png)
![image](https://user-images.githubusercontent.com/17740963/46161398-05b02100-c2b8-11e8-9d71-d18aaf0863e0.png)

Hello, this is the two picture of my problem. The `ol` tag is not parsed and the `li` tag is forced to wrap.

[2018-10-03 13:26] sandeepcmsm opened #29 "maxLines parameter TextStyle is not working as intended."
if i pass maxLines parameter in defaultTextStyle , It is being applied into paragraph tags in html elements not for the whole data we pass. Is there any workaround for this?

[2018-10-03 23:38] Sub6Resources commented on #29
Are you trying to limit the whole html document to maxLines?

[2018-10-04 01:42] sandeepcmsm commented on #29
Yes. Is there better work around for this ?

[2018-10-10 04:45] Edward608 opened #30 "Better onLinkTap parameter type"
Currently the type of `onLinkTap` is `Function`, which does not provide any indication of any incoming function argument, and also the type of argument.

The type should change to something like `(String) -> void` or make a typedef for this.

A pull request will be submitted once this issue is approved.

[2018-10-18 08:35] #28 closed

[2018-10-19 03:44] Sub6Resources commented on #2
Added in version 0.8.0

[2018-10-19 03:44] #2 closed

[2018-10-19 03:44] Sub6Resources commented on #27
Fixed in version 0.8.0

[2018-10-19 03:44] #27 closed

[2018-10-19 03:46] Sub6Resources commented on #30
Yeah, that makes sense. If you are willing to open a pull request that would be great. If you aren't able to do it, though, I can do it.

[2018-10-19 03:48] Sub6Resources commented on #29
Not really, the defaultTextStyle applies to each text node individually, so the entire html document is hard to limit. What do you want the html document to do if it exceeds maxLines?

[2018-10-19 08:15] Edward608 commented on #30
Pull request #31 has been added. Please take a look when you have time.

[2018-10-19 18:05] Sub6Resources commented on #30
Merged in version 0.8.1

[2018-10-19 18:05] #30 closed

[2018-10-20 14:58] sandeepcmsm commented on #29
my usecase to have ellipsis at the end after document exceeds maxLines.

[2018-10-24 11:31] figengungor opened #32 "Make logging in debug mode optional"
Can you please call debugPrint according to an optional parameter like enableLogging and make it false as default?

[2018-10-24 15:04] Sub6Resources commented on #32
Yes, we can do that. Sorry for the inconvenience.

[2018-10-27 11:06] sooxiaotong commented on #32
the logging causing a huge lag when rendering a table with large dataset :(

[2018-10-31 15:50] smiLLe opened #33 "problem rendering <li> with lots of text content"
Hi :)
whenever there is a lot of content in an li that requires a line break, the li bullet will not stay in line but above the content.

See screenshot. The bullet in the first line should be in line with the first 'test'
![screen shot 2018-10-31 at 16 47 09](https://user-images.githubusercontent.com/655296/47800494-afa62180-dd2c-11e8-975f-6f569e2eded6.png)

Just take this code and try it yoursel

[2018-10-31 16:58] Sub6Resources commented on #33
Thanks for the report. This is actually the same issue reported in #17. It's just a different manifestation of the same problem. I'm still looking into a fix for it. Haven't found a solution yet, though. Closing as a duplicate for now, if you have any ideas or further comments, feel free to comment on #17.

[2018-10-31 16:58] #33 closed

[2018-11-01 03:33] GeekxFreak opened #34 "Add image click"
hello，your library has helped me，it would be better if you could increase the image click.🙂

[2018-11-01 18:29] sjmcdowall commented on #32
Yes can this please sort of be moved and done .. it's driving our team insane having to go throw all those debug messages in the console... (and of course to find OUR own debug messages in the console!) LOL :)

[2018-11-02 04:35] Sub6Resources commented on #32
I've opted to just remove `debugPrint` entirely rather than create an optional parameter. That change has just been published as 0.8.2. If you would like to print each element in the DOM, you can use the `customRender` callback instead. Thank you all for your patience!

[2018-11-02 04:35] #32 closed

[2018-11-02 16:04] sjmcdowall commented on #32
So much cleaner!  Thanks!!!

[2018-11-03 20:56] Sub6Resources commented on #17
This is what we were using before we switched to `Wrap` to display nodes, but because `RichText` does not have children widgets, we cannot render a full tree using `RichText` (For example, an `img` tag would not render inside an `a` tag). The switch to `Wrap` resolved those more problematic issues, but now has this issue instead.

[2018-11-03 20:57] Sub6Resources commented on #29
Yes, I see how that could be useful. I'll look into adding that as a feature.

[2018-11-05 11:07] smiLLe commented on #33
@Kapranov98 thanks for the help. may i ask how you implemented _parseNodeList? Your code is located in the customRender callback?

[2018-11-05 11:12] Kapranov98 commented on #33
@smiLLe No, I have implemented the source code of the plugin in my project. You need a few more customization options for your needs. Changes made to the html_parser.dart file. ;)

[2018-11-05 16:02] Sub6Resources commented on #33
@Kapranov98 I'd love a pull request so I can implement these changes into the plugin if you would be willing.

[2018-11-06 23:17] Sub6Resources commented on #34
Sorry, because images on the web don't automatically handle clicks, this library won't either. You can use the `customRender` callback to add your own image click function, though!

[2018-11-06 23:17] #34 closed

[2018-11-14 13:00] kevinApplaud opened #38 "Strong tag breaks text"
Hi,

I am afraid that <strong> tag breaks text sometimes.
` Html(
                data: '<p><strong>Breast augmentation </strong>with implants is a cosmetic surgical procedure to achieve the <strong>desired breast size</strong>. <strong>Insertion of implants </strong>is often combined with the breast lift procedure to modify the shape of the breasts. As there a many different implants available, t

[2018-11-14 15:44] Sub6Resources commented on #38
This is a duplicate of #17. Follow that issue for progress on the fix.

[2018-11-14 15:44] #38 closed

[2018-11-15 08:43] kevinApplaud commented on #17
Hi any news about this issue?

[2018-11-24 20:09] peekpt opened #40 "Text Links don't wrap."
Text Links have a line break before the underlined blue text and the underlined blue text link doesn't wrap to the next line as it should.

![captura de ecra 2018-11-24 as 19 44 43](https://user-images.githubusercontent.com/222385/48972565-c1759e80-f024-11e8-850c-3bbe998b2f79.png)

[2018-12-04 21:29] gedw99 opened #41 "Navigation using a router"
I am not sure if this already suggested but ...

What if a URL is used to allow navigating between html "pages".

The intent of this suggestion is to allow larger apps to be built where more of the application is built with html.

The other intention is to add the ability for the html to be updated via server side events.

For example the typical Master / Detail UI pattern:

The first page shows a

[2018-12-07 22:40] KaYBlitZ opened #42 "font tag hides text"
Using the font tag hides the text. Using
`Html(
data: r'Hi',
)`
shows Hi in the widget as expected. Using
`Html(
data: r'<font size=2>Hi</font>',
)`
hides all text. According to documentation font is not supported and will be ignored. This doesn't seem to be the case.

[2018-12-08 02:01] Sub6Resources commented on #42
Sorry, perhaps we should make this more clear in the documentation, but by ignored, we mean not rendered at all. The `font` tag should probably be rendered still, so it will be added to the list of deprecated elements that will get partial support (see #1 ).

[2018-12-08 02:01] #42 closed

[2018-12-08 02:01] Sub6Resources commented on #1
Added `font` tag to list of deprecated elements that should not be ignored.

[2018-12-10 15:10] romatroskin commented on #40
Have the same weird issue, and can't figure out why it's happens :( @Sub6Resources any ideas?

[2018-12-10 16:09] Sub6Resources commented on #40
This is the same issue as #17 actually. There is a fix in the works, so follow that issue for updates.

[2018-12-10 16:10] Sub6Resources commented on #41
I'm afraid this is outside the scope of this project. Sorry.

[2018-12-10 16:10] #41 closed

[2018-12-10 17:34] peekpt commented on #40
I think this happens because the text link is seen as one big word, so it
wraps to the next line. You could separate every text link word (spaces
included) as mutiple links then it should work fine

Na(o) segunda, 10/12/2018, 16:09, Matthew Whitaker <notifications@github.com>
escreveu:

[2018-12-10 19:55] Sub6Resources commented on #40
Yes, that's correct, and that is the solution I'll probably end up using for the normal parser.

[2018-12-10 21:05] peekpt commented on #40
Is it much asking if you could implement YouTube thumbnail for video
content?
You can grab the image url like this:
https://stackoverflow.com/questions/2068344/how-do-i-get-a-youtube-video-thumbnail-from-the-youtube-api

Then if user click thumbnail fires the usual url callback.

Thank you for this plugin

Na(o) segunda, 10/12/2018, 19:55, Matthew Whitaker <notifications@github.com>
escreveu:

[2018-12-12 11:17] l-k22 opened #43 "Links not opening webview"
I wasn't sure if this was the intention or a bug.
using version 0.8.2
example code
[code]
result: console prints url when link is tapped
expected result: device webbrowser to be opened sending user to link

My work around is to use another package 'url_launcher' to open the webbrowser
[code]

[2018-12-12 15:13] Sub6Resources commented on #43
Yes, tapping a link only calls the callback and is not supposed to open a browser out of the box. The goal of this package is just to provide a very simple way to render html. Anything beyond that is up to the implementer, so using `url_launcher` is exactly what you need to do.

[2018-12-12 15:13] #43 closed

[2018-12-16 01:05] LeeHunter opened #44 "Is it possible to use GestureDetector on HTML elements? E.g. tapping on a paragraph to select."

[2018-12-19 08:59] petekblaz commented on #17
Any news on this?

[2019-01-03 09:51] ianrothmann commented on #17
Hi there!

Any news on this issue?

[2019-01-14 12:26] hui00 opened #48 "<a> tags creating a break"
after the hypertext text, always comes a break. how can i fix that?

[2019-01-14 12:28] hui00 opened #49 "break"

[2019-01-14 12:28] #49 closed, assigned to nobody

[2019-01-14 19:51] Sub6Resources commented on #48
This is actually the same issue as #17 and has also been reported in #40

[2019-01-14 19:51] #48 closed

[2019-01-15 09:10] hui00 commented on #48
thank you with rich text it works perfectly

[2019-01-26 13:31] The-Redhat opened #50 "long text in lists is under the bullet"
![screenshot from 2019-01-26 14-30-53](https://user-images.githubusercontent.com/33162310/51787842-04fc9e00-2177-11e9-82b1-3a70e61cace5.png)
I think the text doesn't wrap correctly.

[2019-01-26 19:34] Sub6Resources commented on #50
Yup. This has been reported in #17 and several others.

[2019-01-26 19:34] #50 closed

[2019-01-28 14:18] The-Redhat commented on #17
Wouldn't it be better to use TextSpans in p elements instead of Text Widgets?

[2019-01-28 20:44] Sub6Resources commented on #17
@The-Redhat see https://github.com/Sub6Resources/flutter_html/issues/17#issuecomment-435620259 above

[2019-01-28 20:46] Sub6Resources commented on #17
@ianrothmann Sorry, I have other projects for both work and school taking up a lot of my time that have priority over this project. I promise I will get to this, but it may be a couple weeks still.

[2019-01-28 22:07] The-Redhat commented on #17
Ok thanks @Sub6Resources. I hope you can fix this bug as soon as possible!

[2019-01-29 22:46] andokai opened #52 "Base64 encoded images"
Base64 encoded images currently throw an exception. Can they be supported?

[2019-01-29 23:58] Sub6Resources commented on #52
I'm going to reopen this because I think base64 images fall under the scope of this project. I'll work on adding them. Thanks for the report!

[2019-01-31 21:44] mesuutt opened #53 "How to add multiple widgets at same line without breaking line like TextSpan?"
First of all thanks to contributors for creating this package. I love it.

I encouraged a problem and I don't know how to solve.
I want to add multiple widgets to same line without break line if not necessary.

I want to show this html shown as below:
[code]
![1548970594](https://user-images.githubusercontent.com/823338/52087045-75f9e680-25b9-11e9-928d-22dcf6354425.png)

------

[code]

This code

[2019-01-31 23:38] Sub6Resources commented on #53
Thank you. This issue has already been reported in #17 and I'm currently looking into some solutions. Follow that issue to keep track of progress.

[2019-01-31 23:38] #53 closed

[2019-02-01 01:24] Sub6Resources opened #54 "PUB ANALYSIS: Fix lib/html_parser.dart. (-0.50 points)"
Analysis of lib/html_parser.dart reported 1 hint:  line 52 col 7: Don't type annotate initializing formals.

[2019-02-01 01:37] Sub6Resources commented on #17
Pull request #37 has been merged and version 0.9.0 released. This provides a fix for the text wrapping issue by creating a parser that uses `RichText`. The fix for the wrapping issue works, but at the cost of the `customRender` callback and doesn't support a couple of elements that are normally supported.

To use the new `RichText` version of the parser, set `useRichText` to true in your `Html` wi

[2019-02-01 01:42] Sub6Resources commented on #40
#17 as well as this issue have been resolved. Use the `useRichText` parameter to make text links render correctly.

[2019-02-01 01:42] #40 closed

[2019-02-01 01:49] Sub6Resources opened #55 "Default parser does not wrap text correctly."
The default parser does not handle text wrapping correctly. See #17 for previous discussion on this issue, but please post new discussion items here.

[2019-02-01 02:54] Sub6Resources commented on #54
Fixed in 66851b1

[2019-02-01 02:54] #54 closed

[2019-02-01 03:15] Sub6Resources commented on #14
`sup` and `sub` added in 0.9.1

[2019-02-01 03:31] Sub6Resources commented on #1
`font` support added in version 0.9.2, which wraps up our deprecated element support list.

[2019-02-01 03:31] #1 closed

[2019-02-01 04:10] Sub6Resources commented on #52
Support for base64 images has been added in version 0.9.3. Thanks @andokai for the issue report.

[2019-02-01 04:10] #52 closed

[2019-02-01 04:14] Sub6Resources opened #56 "Determine which tags the old parser supports and the `RichText` parser doesn't"
These tags should be documented so that package users are aware that the tags won't work as expected with the new renderer.

[2019-02-01 08:30] gedw99 opened #57 "how run run the example?"
I knwo this is a really basic question but the cant work it out with flutter.

normally example fder has its own pubspec that references the parent package, etc

[2019-02-01 08:31] gedw99 commented on #57
ah :)

flutter run ./example/main.dart

[2019-02-01 08:31] #57 closed

[2019-02-02 12:45] The-Redhat opened #58 "Cannot add to an unmodifiable list"
The following error occurs with `useRichText: true`
[code]

[2019-02-02 16:10] Sub6Resources commented on #58
Thanks. This is probably a specific HTML tag. Can you post the snippet of HTML that causes the problem?

[2019-02-02 16:39] The-Redhat commented on #58
Of course
`<table><tbody><tr><td></td></tr></tbody></table>`

[2019-02-02 16:48] peekpt commented on #55
@Sub6Resources I'm trying richText but there's no space for the first link
![captura de ecra 2019-02-02 as 16 41 45](https://user-images.githubusercontent.com/222385/52166824-40b0de00-270a-11e9-999e-9f1d25401d39.png)

![captura de ecra 2019-02-02 as 16 44 28](https://user-images.githubusercontent.com/222385/52166825-40b0de00-270a-11e9-91a4-3f07be563506.png)

[2019-02-02 17:34] Sub6Resources opened #59 "No space before links in `RichText` parser"
@Sub6Resources I'm trying richText but there's no space for the first link
![captura de ecra 2019-02-02 as 16 41 45](https://user-images.githubusercontent.com/222385/52166824-40b0de00-270a-11e9-999e-9f1d25401d39.png)

![captura de ecra 2019-02-02 as 16 44 28](https://user-images.githubusercontent.com/222385/52166825-40b0de00-270a-11e9-91a4-3f07be563506.png)

_Originally posted by @peekpt in https:

[2019-02-02 17:35] Sub6Resources commented on #55
@peekpt Thanks for reporting. I've opened a new issue for this (#59), since it's unrelated to the text wrapping issue.

[2019-02-02 17:36] Sub6Resources commented on #58
Ah, yeah. That's a problem. I'll look into it. Any thoughts @jeffmikels?

[2019-02-02 18:07] jeffmikels commented on #58
Honestly... I never tested the table code. I added it, but just never tested it. :-O

[2019-02-02 18:11] Sub6Resources commented on #58
I'll be looking into it today for a little bit. If I find a good solution I'll let you know.

[2019-02-02 19:16] Sub6Resources commented on #59
I'm unable to replicate this issue. Can you post your html?

[2019-02-02 19:33] peekpt commented on #59
[code]

the issue part of html:
 `um outro nível. A <a href="https://evnerds.com/electric-vehicles/e-motorcycle-news/rmk-vehicles-e2-electric-motorcycle-exclusive-news/" rel="nofollow">RMK E2</a> usa uma roda traseira sem eixo`

![captura de ecra 2019-02-02 as 19 32 26](https://user-images.githubusercontent.com/222385/52168364-65648000-2721-11e9-8a84-96b2a4a330ee.png)

[2019-02-02 19:50] peekpt commented on #59
#offtopic , Is it possible to render a custom element? at least a callback with innerHtml something like this?

customElement: (List<String>)=>Widget   ( A list of  innerHtml of element matches and a return of a widget that we wish to present to be rendered). I wish you this plugin add some capture for youtube links and then present a clickable image which could  fire the url. ( the image you can

[2019-02-03 03:08] jeffmikels commented on #58
I just pushed a modification so that tables are now handled properly.

[2019-02-05 20:43] Sub6Resources commented on #58
Fixed in #60 and published as version 0.9.4.

[2019-02-05 20:43] #58 closed

[2019-02-06 04:17] Sub6Resources opened #61 "Add support for all elements in the `RichText` parser"
The following still need support in the `RichText` version of the parser:

- [x] `address`
- [x] `aside`
- [x] `bdi`
- [ ] ~~`bdo`~~ (Too complicated to implement without official support in the Flutter framework for this)
- [x] `big`
- [x] `cite`
- [x] `data`
- [x] `del`
- [x] `ins`
- [x] `kbd`
- [x] `mark`
- [x] `nav`
- [x] `noscript`
- [x] `q`
- [x] `rp`
- [x] `rt`
- [x] `ruby`
- [x] `s`
- [x]

[2019-02-06 04:17] Sub6Resources commented on #56
Documented in #61

[2019-02-06 04:17] #56 closed

[2019-02-06 04:26] Sub6Resources opened #62 "Add tests for all supported html elements"
All supported html elements should have a test written.

RichText parser:
- [x] `header`
- [x] `hr`
- [x] `i`
- [ ] `img`
- [ ] `ins`
- [ ] `kbd`
- [ ] `li`
- [ ] `main`
- [ ] `mark`
- [ ] `nav`
- [ ] `noscript`
- [ ] `ol`
- [ ] `p`
- [ ] `pre`
- [ ] `q`
- [ ] `rp`
- [ ] `rt`
- [ ] `ruby`
- [ ] `s`
- [ ] `samp`
- [ ] `section`
- [ ] `small`
- [ ] `span`
- [ ] `strike`
- [ ] `strong`
- [ ] `sub`
-

[2019-02-08 12:17] sandeepcmsm opened #63 "<br> tag is not rendering new line."
`<div>Attackers are constantly trying</div><div><br></div><h3>Cyber criminals</h3><div>Cyber criminals constantly try to exploit </div>`

if i add one more br tag inside div. then it will start rendering.

[2019-02-08 15:37] Sub6Resources commented on #63
Do you have `useRichText` set to true?

[2019-02-08 15:41] Sub6Resources opened #64 "Add support for customRender in the `RichText` parser"
The `RichText` version of the parser needs some sort of extension mechanism. See https://github.com/Sub6Resources/flutter_html/pull/37#issuecomment-461644877.

[2019-02-08 15:48] sandeepcmsm commented on #63
@Sub6Resources i have not set useRichtext to true.

[2019-02-08 15:52] Sub6Resources commented on #63
I would do that. The default html parser has some issues with text wrapping. Setting `useRichText` to true to use the new `RichText` parser should solve your issue.

[2019-02-08 17:09] jeffmikels commented on #64
Perhaps we can solve this by merging the two parsers into one that implements a virtual DOM that is more Flutter friendly and then specify how to render that DOM as widgets.

We might solve the problem of custom rendering while also merging the incompatible parse functions in the following way:

1. Create a "Virtual DOM" that makes sense for Flutter. The one parser would walk the HTML tree and con

[2019-02-08 22:13] The-Redhat commented on #61
Although the HtmlRichTextParser doesn't support span, it would be great if it simply shows the content. Now it's looking really weird, because text is missing.

[2019-02-13 03:00] hoaquo opened #65 "Deep nested tree"
Hi guy, thanks for excellent library, but I have problem with deep nested html tags and often hang the app.

Do we have a way to process this during parsing process.

Currently I do a workaround by flatten the nested wraps
Wrap -> Wrap -> Wrap ......

[2019-02-13 06:20] The-Redhat commented on #65
Do you have set useRichText to true ? If not try that.

[2019-02-13 08:34] hoaquo commented on #65
richText to true ignore (or load failed) a lot of tag like span

[2019-02-15 16:40] Makdir opened #67 "How to show table borders?"
Thanks for very useful plugin. But I have a question. How can I show table border? Attribute "border" is not working (or I do something wrong). Can I use CSS or attributes of table tags?

[2019-02-16 02:25] Sub6Resources commented on #67
At the moment this is impossible with the plugin. It's a good idea though, so we'll add it in a future update.

[2019-02-21 06:56] mayqiyue opened #68 "Cann not scroll"
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel dev, v1.2.1, on Mac OS X 10.14.1 18B75, locale en-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] iOS toolchain - develop for iOS devices (Xcode 10.1)
[✓] Android Studio (version 3.3)
[✓] VS Code (version 1.31.1)
[!] Proxy Configuration
    ! NO_PROXY is not set
[✓] Connected d

[2019-02-21 12:01] skipness commented on #64
@jeffmikels
Do you think [this](https://github.com/archriss/react-native-render-html) react native library works like what you mentioned above? If yes, I think we can take a look how to implement all this functions in Dart way.

[2019-02-21 14:49] Sub6Resources commented on #68
Have you wrapped the `Html` widget in a `SingleChildScrollView` or other scrolling widget? The `Html` widget doesn't scroll on its own.

[2019-02-21 16:03] mayqiyue commented on #68
Oh thanks,  i know

Matthew Whitaker <notifications@github.com> 于 2019年2月21日周四 22:49写道：

[2019-02-21 21:55] #68 closed

[2019-02-22 12:24] WorthPly opened #69 "How can justify text"
Hello guys,

i want to know is their any way to justify the text, how can i user TextAlign.justify in this lib.

Thanks.

[2019-02-24 15:06] Toubap commented on #59
Hi, same thing happens to me (btw thanks for you lib ;) )

[2019-03-01 13:47] PalaniArunagiri commented on #29
Hi @Sub6Resources,
  Our mobile app data are coming from CMS so obviously, there will be basic HTML tags like p, superscript, subscript tags which has to display in Flutter Text widget. But, right now Flutter is not providing the option to do it. We are happy to use your library to solve this problem. Right now, the problem is we are not able to set max lines and ellipses. Can you help us to solve

[2019-03-01 14:39] dariotrombello commented on #29
Same here

[2019-03-01 15:40] Sub6Resources commented on #29
@PalaniArunagiri and @dariotrombello I'm currently in school full time and working part time as well so I don't have much time to work on this. Unfortunately, the widget doesn't have any sort of concept of the number of lines at the moment, so this isn't an easy fix. I've increased the priority of this feature request and added a "help wanted" label to attract attention to this issue for potential

[2019-03-02 02:19] vominhquan1995 commented on #67
I also have the same problem. Hope to have a solution soon. Thanks

[2019-03-05 02:59] lukepighetti opened #71 "<p> tags should only have padding between them"

[2019-03-05 03:00] lukepighetti commented on #48
Was just about to make an issue on this. How can I help to resolve this?

[2019-03-05 03:03] lukepighetti commented on #40
This issue does not appear to be resolved.

[code]

`richText = false`
![img_2186](https://user-images.githubusercontent.com/666539/53777981-287add00-3ec9-11e9-8378-120133298130.PNG)

`richText = true`
![img_5e44cd56b6ce-1](https://user-images.githubusercontent.com/666539/53777985-2a44a080-3ec9-11e9-8b3f-fea2795518f1.jpeg)

[2019-03-05 05:10] Sub6Resources commented on #48
@lukepighetti, Issue #55 is the most current issue regarding this problem. Take a look at the source code and if you see or know any way to improve the text-wrapping mechanism, post it on that issue.

[2019-03-05 05:11] Sub6Resources commented on #71
That should be the behavior right now. Are you seeing something different?

[2019-03-05 12:06] lukepighetti commented on #71
Right now every <p> tag gets top and bottom padding. So in a situation like this:

[code]

It's padded. It shouldn't be.

[code]

This should only have padding in between.

This makes laying out the Html widget a bit difficult as you have to compromise block spacing in order to get it to flow in your app properly (in my case, anyway)

[2019-03-10 21:01] elsesiy commented on #59
The issue is caused by the `trimLeft` [here](https://github.com/Sub6Resources/flutter_html/blob/master/lib/html_parser.dart#L328). Removing the `lastString == ''` check fixes the issue and doesn't seem to cause any other issues. Can you please verify this @Sub6Resources?

[2019-03-12 03:47] Sub6Resources commented on #69
There isn't currently a way to justify text in this library. If this issue gets enough 👍s, I'll look into implementing it, or anybody is welcome to open a pull request at any time.

[2019-03-12 03:50] Sub6Resources commented on #63
Closing as a duplicate of #55 for now. Set `useRichText` to true to achieve desired behavior. If you continue to experience issues, reopen this.

[2019-03-12 03:50] #63 closed

[2019-03-12 03:56] Sub6Resources commented on #65
Yes, I'm working on making progress on #61, which will add support for most of the tags (especially `span`) that are currently ignored so you can use `useRichText`

[2019-03-12 04:55] Sub6Resources commented on #61
Support for `span` has been added in version 0.9.5.

[2019-03-12 04:58] Sub6Resources commented on #65
@hoaquo Support for `span` was just added in version 0.9.5. I plan on eventually deprecating the default parser in favor of the rich text parser (or an improved version of it) once it supports enough tags, so I'm closing this for now.

[2019-03-12 04:58] #65 closed

[2019-03-12 04:59] Sub6Resources commented on #62
Tests for `header`, `hr`, and `i` added in version 0.9.5.

[2019-03-12 05:21] Sub6Resources commented on #59
Yes, that does appear to be the issue. Thanks @elsesiy. The fix for this has been released in version 0.9.6. Let me know if you are still experiencing issues!

[2019-03-12 05:21] #59 closed

[2019-03-12 14:18] hoaquo commented on #65
Thank you for great work :-)

[2019-03-12 20:33] Sub6Resources commented on #64
@jeffmikels I really like the idea of adding an intermediary step to the parser (or as you said, a virtual DOM). As for implementing custom renderers, I think option 2 you suggested above is the best way to go. Like you said, the first option has always been there, but there are few who have used it and lots who want to expand the functionality of this plugin. Option 3 isn't a bad option, but it d

[2019-03-17 00:34] zaheddec commented on #62
test for `ol`, `ul` and `li`
<img width="413" alt="ulList" src="https://user-images.githubusercontent.com/30424148/54483526-e89de900-482a-11e9-8919-235e4e59af33.PNG">
<img width="477" alt="orded_list" src="https://user-images.githubusercontent.com/30424148/54483527-ee93ca00-482a-11e9-8357-e14319a73b76.PNG">

[2019-03-17 00:40] zaheddec opened #73 "HTML ordered list and unorder list Issue"
The plugin works great except an alignment issue with longer than a line list items. the item text is starting from next line. Pls see the following screenshots.

it will be of great help if this can be fixed.
<img width="413" alt="ulList" src="https://user-images.githubusercontent.com/30424148/54483578-bd67c980-482b-11e9-832b-59da9efd0acc.PNG">
<img width="477" alt="orded_list" src="https://user-

[2019-03-17 08:45] The-Redhat commented on #73
Hey this issue is well known and resolved when you set useRichText to true as an argument. It then uses a new parser which has fewer supported elements, but no wrapping issues.

[2019-03-17 14:14] zaheddec commented on #73
Thank you so much. It really did solve it. Thanks a million again. Looks super good now.

[2019-03-17 18:12] The-Redhat commented on #73
I'm glad that I was able to help you. Since this isn't a problem, could you please close the issue.

[2019-03-17 21:39] zaheddec commented on #73
this is final result after applying the useRichText tag.
<img width="401" alt="ulList" src="https://user-images.githubusercontent.com/30424148/54498265-8e109580-48db-11e9-914d-97fbd819f878.PNG">
<img width="420" alt="orded_list" src="https://user-images.githubusercontent.com/30424148/54498267-910b8600-48db-11e9-830e-a053f06923fa.PNG">

Thanks for all the great efforts.

[2019-03-17 21:39] #73 closed

[2019-03-22 21:36] evgenijromanishyn opened #74 "YouTube"
It would be great to add YouTube support.

[2019-03-22 23:47] The-Redhat commented on #74
There's actually a package for inline displaying YouTube videos (https://github.com/hoanglm4/flutter_youtube_view). So I think this shouldn't be really complicated.

[2019-03-23 01:58] Sub6Resources commented on #74
@evgenijromanishyn I won't be adding native support for youtube videos since that's outside the scope of this project. (However, you can use the `customRender` function with the library @The-Redhat suggested to add support in your own project)

[2019-03-23 01:58] #74 closed

[2019-03-23 05:02] evgenijromanishyn commented on #74
It is wonderful! Thank you for your work :-)
Could you give me some sample code how do I combine these two packages?

[2019-03-25 20:16] MTRNord opened #75 "Always left aligned"
Hi I have this simple HTML Widget:

[code]

This gets put into this:

[code]

The Problem is no matter what I do the Text of the HTML Widget is on the left side expanding the whole bubble :/

Is there any possible fix for this?

[2019-03-25 20:38] The-Redhat commented on #75
Hey a screenshot of what you expect to see would be nice. Is there a specific reason to use a stack ? Since you are probably only showing a short html text without images or stuff like that you might consider parsing the text with https://pub.dartlang.org/packages/html and displaying it in a Text Widget.

[2019-03-25 20:50] MTRNord commented on #75
Hi the full actual implementation Looks like this (blured for brand and privacy reasons):

![grafik](https://user-images.githubusercontent.com/1374914/54953030-94d88180-4f47-11e9-9281-2b6af264ab34.png)

And yes Images would be shown differently. The main reason for using this is to display formatting that the proto sends (it is Markdown send as HTML).

If your suggestion does support formatting I

[2019-03-25 21:38] The-Redhat commented on #75
Thanks for the screenshot, this makes it way clearer. The proposed doesn't support styling. Since the library uses a Column or Wrap I think @Sub6Resources must implement an option to set mainAxisSize to min.

[2019-03-26 05:22] MTRNord commented on #75
@The-Redhat well by styling I mean things like bold, italic and the Supported Tags that are more special than normal text :) (sorry for using the wrong words.)
But an ability to Set mainAxisSize to min would be awesome

[2019-03-26 15:04] Sub6Resources commented on #75
@MTRNord I'll work on adding the ability to set `mainAxisSize` to `min` as I have time.

[2019-03-26 20:03] The-Redhat commented on #74
Example code:
[code]
you could alternatively do the same for iframes.

[2019-03-29 05:39] oscarshaitan opened #76 "Spotify embed don´t work"
I have the iframe
`<iframe src="https://open.spotify.com/embed/track/55h7vJchibLdUkxdlX3fK7" width="300" height="80" frameborder="0"></iframe>`

but dosent show anything any idea?

[2019-03-29 09:05] The-Redhat commented on #76
Iframe ist Not supported by this library. You might consider using the office WebView plugin.

[2019-03-29 09:51] AbdoXLabs opened #77 "Support Rtl (Arabic Text)"
Html widget need to support RTL . LTR

[2019-03-29 13:47] ahmadkhedr commented on #77
Just use Directionality widget over it and set the text direction to rtl ....I am using it and it works fine :)

[2019-03-31 02:59] Sub6Resources commented on #76
Yes, `<iframe>` is in the list of unsupported elements with no plan for future support. You can use the `customRender` callback to support Spotify.

[2019-03-31 02:59] #76 closed

[2019-03-31 03:00] Sub6Resources commented on #77
Perhaps I'll consider adding an option in the `HTML` widget. Thanks!

[2019-04-03 16:41] egorges commented on #67
An alternative might be use CSS.

[2019-04-05 02:53] egorges opened #78 "Widget should format text according to Theme"
h1 as title, body as body1, and so on.

[2019-04-05 15:32] Sub6Resources commented on #78
Yes, I definitely plan on adding that feature. I believe it falls under the scope of #18 already, so I'm going to close this as a duplicate, but don't worry, I'll still work on adding the feature.

[2019-04-05 15:32] #78 closed

[2019-04-07 17:11] Seedorf161 opened #79 "Add Javascript required by the html tag"
How can I add the link of the javascript required to format some contents in the html?
I'm trying to embed a Twitter and Instagram post but the `<blockquote>` is not well formatted because the embed javascript is not loaded.

[2019-04-09 05:55] ushang000 opened #80 "span can not work"
`<span style="color: rgb(0, 112, 192);"><strong>Q1: How to do it？</strong></span>`
the rgb is blue ,but it can not work.
pls help solve it , thanks a lot

[2019-04-09 07:50] The-Redhat commented on #80
The new RichTextParser only renders span elements as normal text. So the textColor isn't apllied.

[2019-04-09 08:10] ushang000 commented on #80
thanks for your answer, so how can i add color for text ? other way ?

[2019-04-09 08:18] The-Redhat commented on #80
Currently there's not a reply good way of achieving what you want. My only idea is to use an a tag and  specify the linkColor in the linkTextStyle.

[2019-04-09 17:44] ardeaf opened #81 "Overflow"
Hi, I have a widget that takes in some HTML and I'm constraining it to a Container with a `ContrainedBox(maxheight: 200.0)`

How would I go about having the `Html( data: ... )` widget use the material `Text( ... )` widget's `overflow` parameter, or accomplish the same effect through another means? I would like to have the text overflow into a fade.

Is that possible?

[2019-04-10 05:32] The-Redhat commented on #81
When you don't use the new RichTextParser (default). You are able to use the customRenderer like described in the Readme.

[2019-04-23 04:02] thenexus00 commented on #71
Not sure on this because Using this as of today with the latest version there appears to be no padding on any Paragraph.

[2019-04-23 05:08] thenexus00 commented on #80
Nearly all the HTML view packages out there have an issue with span. We had to remove this at the server level for what we did. Basically when you access the API of your content, replace the Span instances.

[2019-04-29 14:55] GeertJohan commented on #69
How many :+1:s are "enought :+1:s" ?  :smile:
Any pointers / tips on how to implement this? Where to start?

[2019-05-01 10:20] AndreyMolochko opened #82 "<strong> tag creates break, when useRichText equals true"
I saw previous issues about incorrect work tag "strong". I write useRichText:true and everything works well, but there is an exception when tag is at the beginning.

[2019-05-01 14:55] Sub6Resources commented on #82
Can you post your `HTML` code and a screenshot of what you're seeing?

[2019-05-02 08:20] AndreyMolochko commented on #82
![image](https://user-images.githubusercontent.com/36672245/57063443-2b4f3f80-6c78-11e9-989f-9f72b44eae31.png)
![image](https://user-images.githubusercontent.com/36672245/57063545-78cbac80-6c78-11e9-8ac5-474439be07ac.png)

[2019-05-04 12:58] nvbln commented on #75
Hi, is this still being worked on? :)

[2019-05-07 17:23] ayazkhalid commented on #80
span having icon class not working <span class="icon-svg-pdf"></span>,. any idea to make it happen?

[2019-05-08 05:25] Sub6Resources commented on #80
This plugin doesn't currently support attributes on the `span` element, including `style` or `class`, so icons/colors will not work as expected. Support for these _may_ be added in a future update, but are not on the roadmap currently.

[2019-05-08 05:25] #80 closed

[2019-05-08 05:26] Sub6Resources commented on #81
Closing because this appears to be resolved. Reopen if you need more assistance with this issue.

[2019-05-08 05:26] #81 closed

[2019-05-08 05:28] Sub6Resources commented on #82
Hmm, that's odd. What attributes do you have set on your `Html` widget?

[2019-05-09 09:56] siddharthpatankar opened #84 "Update plugin dependencies"
First of all, thanks for an awesome plugin! But there's one small issue regarding the plugin dependencies. Currently when I try to use the latest versions of both `html` and the `flutter_html` plugin in my app, I get the below error.

The temporary workaround for me right now is to use the 0.7.0 version of `flutter_html`. But it might be better to upgrade the dependencies to the latest version.

[2019-05-09 17:52] wemped opened #85 "Support nested <li> tags"
Currently nested list tags show at the same level

[code]
results in

* Level 1
* Level 2

When it should be
* Level 1
  * Level 2

The focus being the indentation level, not the coloring.

[2019-05-11 10:36] valerybodak commented on #82
I have the same problem if string starts with < strong> tag:

`<strong>15.1<\/strong>% of the text are stop words.`

The result is:

**15**
% of the text are stop words.

My attributes:

[code]

[2019-05-12 13:34] egorges opened #86 "Unexpected break line on <i> without <p>"
I had an unexpected break line with the following:

    <i>f</i>(<i>t</i>)

But if I wrap it in a paragraph with `<p>`, the Widget formats it correctly.

Regards

[2019-05-13 22:39] Sub6Resources commented on #85
In order for list items to nest in HTML (and this plugin) they need to be wrapped in a list (in your case `ul`), so your code should be:

[code]

Be sure to set `useRichText` to `true` and you should see the desired behavior.

[2019-05-13 22:39] #85 closed

[2019-05-13 23:03] Sub6Resources commented on #86
It looks like this is actually the same issue as #82. Track that issue for updates on a solution.

[2019-05-13 23:03] #86 closed

[2019-05-13 23:05] egorges commented on #82
The workaround is enclose it in a paragraph, prefixing with <p>

[2019-05-13 23:57] Sub6Resources commented on #84
This has been fixed in version 0.9.7. Thank you!

[2019-05-13 23:57] #84 closed

[2019-05-13 23:58] Sub6Resources commented on #82
This has been fixed in version 0.9.7. Thank you!

[2019-05-13 23:58] #82 closed

[2019-05-14 03:14] wemped commented on #85
Oh wow, you're totally right 😅

Been working in Github markup for too long, sorry about that!

[2019-05-14 03:19] Sub6Resources commented on #85
👍 No worries! Glad I could help.

[2019-05-14 07:43] AndreyMolochko commented on #82
Thank you!

[2019-05-14 08:17] AndreyMolochko commented on #82
In version 0.9.7 strong text excellent works, but we get unexpected top and bottom padding. I suppose that it happened after addition this code
![image](https://user-images.githubusercontent.com/36672245/57682179-15316f80-75e6-11e9-8524-6c3764dc7a48.png)

[2019-05-15 04:21] Sub6Resources commented on #77
I'm going to leave this as is, for users to implement by following the suggestion provided by ahmadkhedr so that the Widget behaves as expected when wrapped in a Directionality widget.

[2019-05-15 04:21] #77 closed

[2019-05-15 09:52] AndreyMolochko commented on #82
@Sub6Resources We got unexpected top and bottom padding in version 0.9.7. (left screen - we used lib with version 0.9.6, right screen - we used lib with version 0.9.7)
<img src="https://user-images.githubusercontent.com/36672245/57063545-78cbac80-6c78-11e9-8ac5-474439be07ac.png" width = 250> |
<img src="https://user-images.githubusercontent.com/36672245/57766347-1208b300-76bc-11e9-8648-7bf839e774f

[2019-05-15 09:53] AndreyMolochko commented on #82
<img src="https://user-images.githubusercontent.com/36672245/54613352-cc12d400-4a17-11e9-91c0-33d41d35cb52.jpg" width = 250> |
<img src="https://user-images.githubusercontent.com/36672245/54613456-f5cbfb00-4a17-11e9-986f-dde7bbf973eb.jpg" width = 250>
--- | ---

[2019-05-15 09:57] AndreyMolochko commented on #82
<img src="https://user-images.githubusercontent.com/36672245/57063545-78cbac80-6c78-11e9-8ac5-474439be07ac.png" width = 250> |
<img src="https://user-images.githubusercontent.com/36672245/57766347-1208b300-76bc-11e9-8648-7bf839e774fa.png" width = 250>
--- | ---

[2019-05-15 11:15] AndreyMolochko commented on #82
I found cause.
![image](https://user-images.githubusercontent.com/36672245/57771635-1aff8180-76c8-11e9-9b0e-830bb9da4990.png)

[2019-05-15 14:41] Sub6Resources commented on #82
Yup, that does appear to be the issue. I'll work on fixing this in the next version, which should hopefully be out later this week.

[2019-05-15 14:42] Sub6Resources opened #87 "Unexpected top and bottom padding in version 0.9.7"
@Sub6Resources I got unexpected top and bottom padding in version 0.9.7. (left screen - we used lib with version 0.9.6, right screen - we used lib with version 0.9.7)

<img src="https://user-images.githubusercontent.com/36672245/57063545-78cbac80-6c78-11e9-8ac5-474439be07ac.png" width = 250> |
<img src="https://user-images.githubusercontent.com/36672245/57766347-1208b300-76bc-11e9-8648-7bf839e774f

[2019-05-15 22:35] andreyeurope opened #88 "Add style for image when using useRichText"
Hi. First I want to thank you for the work you've done on this package.

Because of the known wrap bug, I have to use the rich text parser.
When using the rich text parser, the image is aligned in the center.
Could you add some parameter for custom styling the image from rich text parser and maybe onTap support as well?

P.S.: I could also do that and then create a pull request.

[2019-05-16 00:57] Sub6Resources commented on #88
I'd be glad to work on that feature, but it will probably be much faster if you open a pull request for the feature, since I'm pretty busy.

[2019-05-16 05:52] lizhuoyuan opened #89 "how to use it in the CustomScrollView?"
html data:
[code]

[code]
newsWidgets is a sliverList.
I think problem is about it.

[code]

[2019-05-16 06:57] #89 closed

[2019-05-18 00:07] hyperpanthera opened #91 "Does this work in a Flutter Web App?"

[2019-05-18 00:30] Sub6Resources commented on #91
Not currently, since Flutter Web is still mostly separated from the main flutter library. Once flutter web gets merged into the main library it should work just fine. I'll do some more testing as that gets closer.

[2019-05-18 00:51] hyperpanthera commented on #91
@Sub6Resources Quick reply thanks, do you know a workaround to display a HTML file in Flutter Web?

[2019-05-18 02:31] Sub6Resources commented on #91
One fairly simple option would be for you to clone this library and switch all the imports to their web counterparts. I'd be open to hosting another branch on GitHub with a web version of this plugin until the two converge.

Other than that, I haven't heard of any other solutions for Flutter Web. Flutter Web is only in developer preview though, so it may be a while before they have the necessary s

[2019-05-18 03:39] Sub6Resources commented on #87
I believe this has been fixed in version 0.9.9. Let me know if you continue to experience issues.

[2019-05-18 03:39] #87 closed

[2019-05-18 11:27] andreyeurope commented on #69
Do you want to justify HTML parsed by the richText parser or by the default parser?

[2019-05-18 19:06] GeertJohan commented on #69
In my case the rich text parser. But I guess both should be available.

[2019-05-18 19:50] andreyeurope commented on #69
In the case of the default parser, you can easily do it yourself by using the custom parser.
Just create a custom parser for `p` HTML element consisting of a Text widget and set `textAlign` to what you need.

I will look into implementing it in the richText parser. It might be useful for me as well.

[2019-05-18 19:54] andreyeurope commented on #69
I was thinking maybe having a custom properties attribute for each of the heading elements and the paragraph element would be useful, so you can fine control each element.

[2019-05-18 21:51] Sub6Resources commented on #61
Support for `address` added in 0.9.8.

[2019-05-19 02:54] Sub6Resources commented on #61
Support for `aside`, `bdi`, `big`, `cite`, `data`, `ins`, `kbd`, `mark`, `nav`, `noscript`, `q`, `rp`, `rt`, `ruby`, `s`, `samp`, `strike`, `template`, `time`, `tt`, and `var` added in version 0.10.0.

[2019-05-20 01:53] HiroshiHorie commented on #64
Please support this asap, since there is no way to set colors. I need a custom tag that can specify partial colors.

[2019-05-21 01:38] Sub6Resources commented on #88
Thank you for your work. This has been released in version 0.10.1.

[2019-05-21 01:38] #88 closed

[2019-05-21 03:32] Sub6Resources opened #92 "`onImageTap` pass in image url or image data as parameter"
Can **onImageTap** Function consider adding image url or image data as parameters ?

This makes it easy to do some other processing when **onTap**, such as a large image preview.

Thanks！

_Originally posted by @w4mxl in https://github.com/Sub6Resources/flutter_html/pull/90#issuecomment-494225878_

[2019-05-25 18:24] andreyeurope commented on #92
#93

[2019-05-26 17:14] martinellimarco opened #94 "customEdgeInsets doesn't work"
I tried to add a padding around an <img> with this code:
[code]
but it doesn't work.
Looking into the source code I've found that the returned value from here
https://github.com/Sub6Resources/flutter_html/blob/56ba649026c0fefee711b9093a6ad531a7557ec6/lib/html_parser.dart#L699-L702
 is ignored for all html tags except for this https://github.com/Sub6Resources/flutter_html/blob/56ba649026c0fefee711b

[2019-05-27 02:33] jsdawn commented on #91
![image](https://user-images.githubusercontent.com/23629135/58392053-c74b4b80-806a-11e9-9bcd-3d349820e069.png)

[2019-05-27 02:34] jsdawn opened #95 "import #Error"
![Uploading image.png…]()

[2019-05-27 02:35] jsdawn commented on #95
![Uploading 20511558924352_.pic_hd.jpg…]()

[2019-05-27 02:37] jsdawn commented on #95
![Uploading WechatIMG2051.jpeg…]()

[2019-05-27 02:37] jsdawn commented on #95
Compiler message:
file:///Users/diggme/flutterenv/flutter/.pub-cache/hosted/pub.flutter-io.cn/flutter_html-0.10.1/lib/html_parser.dart:511:27: Error: No named parameter with the name 'backgroundColor'.
                TextStyle(backgroundColor: Colors.yellow, color: Colors.black));
                          ^^^^^^^^^^^^^^^
file:///Users/diggme/flutterenv/flutter/packages/flutter/lib/src/painting/t

[2019-05-27 17:45] The-Redhat opened #96 "img alt attribute is rendered with style of previous element"
When you place a img with an `alt` attribute below a `h1` for example, the textStyles of both are the same.
![Screenshot_1558978952](https://user-images.githubusercontent.com/33162310/58433441-9f360980-80b7-11e9-9c4b-a02156825f4a.png)

The textStyle of `alt` should be like the normal text.

An option to hide the `alt` text would also be great.

According to [this](https://www.w3schools.com/tags/at

[2019-05-27 18:19] The-Redhat opened #97 "add option to set image heigth and with to null"
With the new ImageProperties it isn't possible to set width & height to null. Because the given height an width of the html is often optimized for large displays, empty areas are showing up.

In my opinion the version `0.10.1` should be marked as breaking, because it introduces some visual changes.

[2019-05-30 09:42] 453548460Anders opened #98 "Invalid Double 100% width <img> errer"
the new version can not support <img> contain width="100%", alert invalid double

[2019-05-30 14:26] nordine0 commented on #77
after version ^0.9.6 Directionality  is not working any more.

Code Example:

`Directionality(
                      textDirection:
                          TextDirection.rtl,
                      child: Html(
                        padding: EdgeInsets.symmetric(vertical: 12.0),
                        data: widget.message.message,
                        defaultTextStyle: TextStyle(fontSize: 1

[2019-05-31 06:09] DropYearning commented on #95
You can solve this problem by `flutter upgrade`

[2019-05-31 15:20] Sub6Resources commented on #95
@jsdawn which Flutter version are you currently on?

[2019-05-31 15:21] Sub6Resources commented on #98
Good catch. I'll work on fixing this before the next version.

[2019-05-31 15:22] Sub6Resources commented on #96
Yes, that is correct. I'll work on getting a fix for this into the next version.

[2019-06-03 06:41] jerossh opened #99 "_Exception (Exception: HTTP request failed, statusCode: 404, https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png)"
_Exception (Exception: HTTP request failed, statusCode: 404, https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png)

[2019-06-03 14:17] Sub6Resources commented on #99
That's an expected error, since that URL links to a 404 page. The rest of the page should render as expected.

[2019-06-03 14:17] #99 closed

[2019-06-05 06:42] IvanDreamer opened #100 "After update to Flutter v1.7.2-pre.12 the app does not work"
Hi all,

Today morning I updated Flutter and now cannot start or build my app and following errors come from "flutter_html"

[code]

[code]

Does someone knows how to fix it?

[2019-06-05 10:06] wsakka commented on #100
Getting the same issue. Not sure what can be causing it. Just upgraded flutter, I'm on 0.10.1 of this library.

[2019-06-05 10:08] wsakka commented on #100
This is my flutter version:

[2019-06-05 10:15] wsakka commented on #100
I tried downgraded to 0.9.9 and same thing:

[code]

[2019-06-05 10:21] wsakka commented on #100
BTW it appears that this issue only occurs on Android. It seems to call .text twice: ```w.child.text.text```

[2019-06-06 04:18] Sub6Resources commented on #100
There was a breaking change dealing with TextSpans pushed to the Flutter master channel recently. I believe the change has been reverted, so possibly updating flutter again or switching to an older flutter version. I've been following that particular pull request and I'll report when I know more about whether or not it's causing this issue and if it is a breaking change that's here to stay I'll ge

[2019-06-06 07:49] Cvilia opened #101 "I can't add button in my html"
when i added button in my html,but page showed anything

[2019-06-06 07:51] Cvilia commented on #101
when i added button in my html,the page showed anything.Thanks

[2019-06-06 14:48] Sub6Resources commented on #101
This is currently expected behavior, since `button` is in the list of unsupported elements. When this package gets more support for styling options, `button` will join the list of supported elements. In the meantime, you can set `useRichText` to false and use the `customRender` callback to add support for buttons in your project.

[2019-06-06 14:48] #101 closed

[2019-06-06 20:48] Sub6Resources commented on #100
I can confirm that this is due to a breaking Flutter change that is currently rolling out. If you are on the master branch, temporarily switching to Flutter version 0.7.0 or below should fix this issue for now. I will personally work on fixing this issue within the next week.

[2019-06-07 02:02] Sub6Resources commented on #100
Version 0.10.1+hotfix.1 resolves this issue.

[2019-06-07 02:02] #100 closed

[2019-06-08 01:28] rdcoder33 opened #103 "<svg> tag support?"
I know you are planning to add <svg> tag just wanna know how much time gonna take like a week, a month or two. I need to use it in a project with a strict deadline. No pressure tho :) .

[2019-06-08 03:14] Sub6Resources commented on #103
It'll probably be a month or so. I'm aiming to add support for that tag by version 1.0.0 which will probably land towards the end of the summer.

[2019-06-08 15:17] qqq5833547 opened #104 "^0.10.1+hotfix.1 ERROR:Invalid double"
^0.10.1+hotfix.1 ERROR:Invalid double

[2019-06-08 16:23] The-Redhat commented on #104
seems like a dup of #98

[2019-06-08 17:01] Sub6Resources commented on #104
Very likely a duplicate. @qqq5833547 can you post your HTML code or any more information about the error?

[2019-06-08 17:05] Sub6Resources commented on #103
I'm closing this for now. Watch #14 for updates on this particular feature.

[2019-06-08 17:05] #103 closed

[2019-06-08 20:02] Sub6Resources opened #105 "Format Whitespace Correctly"
The way we are currently handling whitespace is somewhat strange and prone to bugs. We should be following the specifications at https://www.w3.org/TR/css-text-3/ to process whitespace characters.

[2019-06-08 20:03] Sub6Resources commented on #105
This may also be a good issue for the dart:html package rather than this package since the weird whitespace we're getting is coming from them.

[2019-06-08 20:22] Sub6Resources opened #106 "Lists not handled correctly [1.0.0]"
List items with content that wraps wraps so that it places content underneath the list character, rather than to the right of the list character. Additionally, `ol` list characters should not affect the left margin of the list item's content.

[2019-06-08 20:24] Sub6Resources opened #107 "Add support for tables [1.0.0]"
Tables should be supported. Support will likely be similar to the implementation for lists.

[2019-06-08 20:26] #95 closed

[2019-06-08 20:56] Sub6Resources opened #108 "Doubled margins between block elements"
In many instances, browsers render only the largest of two margins between block elements. (For instance between `h[1-6]` or `p` elements (as reported in #71))

[2019-06-09 03:06] Sub6Resources commented on #108
Official documentation for what we're trying to achieve: https://www.w3.org/TR/CSS21/box.html#collapsing-margins

[2019-06-09 09:36] The-Redhat commented on #97
For example when the html uses srcset the height and width attributes aren't ment to be used on phones. The height is often set to 1920x1080 which leads to whitespace in flutter_html.

[2019-06-09 14:21] qqq5833547 commented on #104
@Sub6Resources  I think so. I also have 100% wide pictures in my data.

[2019-06-09 14:59] #104 closed

[2019-06-10 14:58] Sub6Resources commented on #97
Yeah, there are a couple issues with the new way we handle images. I'll take a look at it and add a way to set width and height to null.

[2019-06-12 02:22] premy opened #109 "Pub GET fails on Flutter SDK version 1.5.4-hotfix.2. (stable channel)"
Because my_app depends on flutter_html >=0.1.0 <0.7.0 which requires Flutter SDK version >=0.5.0 <0.8.0, version solving failed.
pub get failed (1)
exit code 1

[2019-06-12 20:45] Sub6Resources commented on #109
Make sure you are using the most recent version of `flutter_html`. It should be `flutter_html: ^0.10.0`

[2019-06-13 10:12] WhiteSnowGirl opened #110 "Hi img tag,Picture click enlargement monitor"

[2019-06-13 14:51] The-Redhat commented on #110
Hey could you please explain what exactly you mean.

[2019-06-13 15:08] #109 closed

[2019-06-14 12:23] arun-lokas opened #111 "Not working"
Background color parameter issues in file check clearly

[2019-06-14 15:53] Sub6Resources commented on #111
I'm not quite sure I understand what you mean. Could you post a screenshot showing the issue you're experiencing?

[2019-06-14 16:08] Sub6Resources commented on #14
`iframe` is now on the list of elements to be supported!

[2019-06-18 08:35] maoai-xianyu opened #113 "update version html code wrong Invalid double double.parse (dart:core-patch/double_patch.dart:110:28)"
html code

[code]

in 0.9.6 version load this code is right.

but in 0.10.1+hotfix.1 version  loads this code crash.   the wrong tips is  " Invalid double  double.parse (dart:core-patch/double_patch.dart:110:28) "

[2019-06-18 08:37] The-Redhat commented on #113
duplicate of #98

[2019-06-18 09:01] maoai-xianyu commented on #98
so  this problem is still . you need some time to fix this. I waiting for your next version. thanks

[2019-06-18 14:52] #113 closed

[2019-06-19 09:20] rongcheng2017 opened #114 "Invalid double 100%"
<img width="100%" height="auto" alt="" src="http://images.baixingliangfan.cn/shopGoodsDetailImg/20181229/20181229210503_6980.jpg" /><img width="100%" height="auto" alt="" src="http://images.baixingliangfan.cn/shopGoodsDetailImg/20181229/20181229210503_1277.jpg" /><img width="100%" height="auto" alt="" src="http://images.baixingliangfan.cn/shopGoodsDetailImg/20181229/20181229210504_177.jpg" /><img

[2019-06-19 13:31] The-Redhat commented on #114
duplicate of #98

[2019-06-19 13:33] The-Redhat commented on #98
This issue should have a better name, to prevent more people of creating duplicates.

[2019-06-19 14:00] #114 closed

[2019-06-20 02:09] #69 closed

[2019-06-20 04:03] Sub6Resources commented on #98
Fixed in 0.10.2

[2019-06-20 04:03] #98 closed

[2019-06-20 09:24] HakuFlou opened #115 "customRender isn't working."
I tried to use the customRender function to render `iframe`s using this [YouTube Player](https://pub.dev/packages/youtube_player).

[code]

However, it doesn't seem to be working. I tried to use breakpoints to see whether or not they're actually executing, but it seems they aren't.

I tried to breakpoint `data` and it paused. Of course it worked as the widget rendered my HTML properly. However, th

[2019-06-20 13:30] Sub6Resources commented on #110
If you'd like to provide more information we can reopen this issue. In the meantime this will be closed.

[2019-06-20 13:30] #110 closed

[2019-06-20 13:35] Sub6Resources commented on #115
Yes this is currently an outstanding issue in #64. Support for the `customRender` property is on the roadmap to return by [version 1.0.0](https://github.com/Sub6Resources/flutter_html/wiki/Roadmap#version-100-anticipated-release-end-of-summerearly-fall) of this plugin. If this is a blocking issue, you can consider setting `useRichText` to `false` and the `customRender` plugin will work as expected

[2019-06-20 13:35] #115 closed

[2019-06-20 13:37] Sub6Resources commented on #64
I've created a development [roadmap](https://github.com/Sub6Resources/flutter_html/wiki/Roadmap#version-100-anticipated-release-end-of-summerearly-fall) to show progress and planned features for version 1.0.0.

[2019-06-20 20:56] andreyeurope commented on #97
@The-Redhat Could you explain the issue in detail? I don't get what you mean by  _set image heigth and width to null_. If you don't set the ImageProperties width and height, or have width and height attributes in html, the width and height from the Image widget will be set to null.

[2019-06-20 21:00] The-Redhat commented on #97
Yes, when you have width and height attributes in your html the Image Widgres is set to these attributes. But for example when you have a srcset the height an width attributes doesn't represent the actual height an width of the picture. This leads to empty spaces. In this example the library should ignore the specified height and width attributes.

[2019-06-21 06:59] andreyeurope commented on #97
Do you have an example with screenshots?

[2019-06-21 07:04] The-Redhat commented on #97
I'm currently on vacation. I can post an example with screenshot in two days.

[2019-06-21 07:10] andreyeurope commented on #97
Ok, cool. Looking forward to it. Enjoy your holiday.

[2019-06-21 07:21] The-Redhat commented on #97
Nevermind found one on my phone:
[code]
![IMG_20190621_092049](https://user-images.githubusercontent.com/33162310/59905274-f9e82a00-9405-11e9-9bc7-0417b77b10a8.jpg)

[2019-06-21 12:14] ADLsourceCode opened #116 "how to use customtextstyle to change the font size and line height?"
Hello,
How do I use customTextstyle to change the line height and font size of the text?
Below is my code:-

[code]

[2019-06-21 12:35] The-Redhat commented on #116
You can use the
[code]
parameter

[2019-06-21 12:47] ADLsourceCode commented on #116
Thanks for your reply,

the code says

Below is my code:-
[code]

[2019-06-21 12:48] The-Redhat commented on #116
You need to import dom:
[code]

[2019-06-21 13:00] ADLsourceCode commented on #116
@The-Redhat  Thanks you so much..

the Code works..but the custom styles do not get seen ... basically, there is no change on the text even after implementing custom styles

[2019-06-21 13:09] The-Redhat commented on #116
The code you posted doesn't really change the TextStyle, or am I wrong ?

[2019-06-21 13:10] ADLsourceCode commented on #116
@The-Redhat  I tried changing the line height using **textstyle=TextStyle(height: 1)**; in the code..

[2019-06-21 13:18] The-Redhat commented on #116
But isn't 1 the default ?

[2019-06-21 13:18] ADLsourceCode commented on #116
yes... even if i change it to 2 or 2.5 ... No effect is show...

[2019-06-21 13:19] The-Redhat commented on #116
Ah okay does it work with other elements ?

[2019-06-21 13:21] ADLsourceCode commented on #116
nope... I tried using with p tag also... It does not

[2019-06-21 13:42] The-Redhat commented on #116
Ok .. I haven't used the customTextStyle, the owner of this package for help should be able to help you

[2019-06-21 13:43] ADLsourceCode commented on #116
@Sub6Resources  pls help

[2019-06-21 13:46] The-Redhat commented on #116
One question: to what is useRichText set ?

[2019-06-21 15:03] ADLsourceCode commented on #116
@The-Redhat  no use... nothing changes

[2019-06-21 15:03] ADLsourceCode commented on #116
@Sub6Resources  pls help

[2019-06-21 15:14] Sub6Resources commented on #116
@ADLsourceCode please post your current code so we can take a look and see if there's anything not quite right.

[2019-06-21 23:04] Sub6Resources commented on #116
Here is the correct way to use `customTextStyle`:

[code]

Note that `useRichText` must be set to `true` for `customTextStyle` to have any effect.

[2019-06-21 23:05] Sub6Resources commented on #111
This issue will be closed until more information is provided.

[2019-06-21 23:05] #111 closed

[2019-06-21 23:08] Sub6Resources commented on #94
Sorry for the delayed response. `customEdgeInsets` is ignored by the `body`, but is supported by all other `block` elements. Is `useRichText` set to true?

[2019-06-22 08:34] ADLsourceCode commented on #116
@Sub6Resources
it does not work...

Below is my code :-
[code]

[2019-06-22 17:44] Sub6Resources commented on #116
Hmm, this is odd. I'm able to replicate the issue, so I'll look into it.

[2019-06-22 17:56] Sub6Resources commented on #116
I've identified the issue. A fix will be released asap.

[2019-06-22 18:03] #116 closed

[2019-06-22 18:05] Sub6Resources commented on #116
A fix has been released in Version 0.10.4. The README now also contains example code for using `customTextStyle`. Thank you for your patience.

[2019-06-23 05:54] ADLsourceCode commented on #116
@Sub6Resources  It works... Thank you so much for your support.

@The-Redhat  Thanks to you too.

[2019-06-24 07:12] andreyeurope commented on #97
I gave it a thought over the weekend, and I was thinking to add a flag (or two) to ignore the width and height values found in the HTML img element.
@Sub6Resources Did you think about a solution for this edge case?

[2019-06-24 18:42] The-Redhat commented on #97
An other option would be to set the default to below zero and filter out value below zero. This would simplify it and makes it a non-breaking change  Otherwise you have a lot of flags.

[2019-06-25 12:46] suoigwg opened #117 "How to scroll the content if it contains to many lines"
when the content contains too many lines, I got a bottom overflow
![73b60a3dgy1g4dorx9agvj20u01t0n6j](https://user-images.githubusercontent.com/15700090/60099435-301d0500-978a-11e9-847d-cc28d0657247.jpg)
I tried to wrap it with a list view, won't work
[code]
got
I/flutter (12244): The following assertion was thrown during performResize():
I/flutter (12244): Vertical viewport was given unbounded he

[2019-06-25 15:12] Sub6Resources commented on #117
Wrap the `Html` widget in a `SingleChildScrollView` to get the page to scroll.

[2019-06-25 15:12] #117 closed

[2019-06-25 15:15] Sub6Resources commented on #97
@andreyeurope I think @The-Redhat's suggestion of using negative values for width/height in the `ImageProperties` object will be the best way to go so we can keep the change non-breaking.

[2019-06-27 10:02] SvenSchoene commented on #106
First of all: this library works great so far!

However, we have a pretty list-heavy webpage to display and this issue kills the layout.
Do you have any idea when you'll get around to dealing with this?

[2019-06-27 15:09] Sub6Resources commented on #106
Which version of `flutter_html` are you on. Also, what specific issues are you seeing with the layout?

[2019-06-28 03:37] SvenSchoene commented on #106
We are using `flutter_html: ^0.10.4`.

Here's some HTML and two screenshots, one with `useRichText` enabled, and one with it being disabled.

The code is not pretty, but it's autogenerated and I'm not that flexible here.
The obvious alternative here is to switch to a "real" webview. However, one of my colleagues implemented this with `flutter_html` and I'm surprised by the result. If the spacing i

[2019-06-28 20:39] Sub6Resources commented on #106
There's going to be a pretty big change in the way the package parses the html in version 1.0.0 of `flutter_html`. The changes being made rely on some changes in the flutter framework that haven't yet reached the stable channel, so I'm waiting to release version 1.0.0 until the framework changes are pushed to the stable channel (which should be in the late summer or early fall if Flutter follows t

[2019-06-29 10:51] SvenSchoene commented on #106
Thank you for the status update on this.
I'm perfectly happy to both, try out a preview version in a few weeks, as well as wait for the new stable version of Flutter (because maybe we're daring to release a production-app with a non-stable Flutter channel... 😱 We'll see! 😄 )

[2019-07-07 00:31] thinkdai opened #118 "Invalid Double 100% width <img> errer"
<img src="http://uploads/ueditor/2018-11-01/15410376945.jpg" alt="uploads/ueditor/2018-11-01/15410376945.jpg" width="100%" height="100%" border="0" vspace="0" **style="width: 100%; height: 100%;"/>**

flutter_html: ^0.10.4

[2019-07-08 04:47] Sub6Resources commented on #118
Are you sure you are on 0.10.4? This issue was fixed in 0.10.2. If you are indeed having this issue on 0.10.4, please post the stacktrace of the issue so I can better debug what's happening.

[2019-07-08 06:59] XZYsunny commented on #118
flutter: ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
flutter: The following FormatException was thrown building HtmlRichTextParser(dirty, dependencies:
flutter: [_LocalizationsScope-[GlobalKey#0d787], Directionality, MediaQuery, DefaultTextStyle]):
flutter: Invalid double
flutter: 100%
flutter:
flutter: When the exception was thrown, this wa

[2019-07-08 18:28] SammyO commented on #53
I'm experiencing the same issue. Is this fixed or still pending?

[2019-07-08 18:31] Sub6Resources commented on #53
This is still an issue if `useRichText` is explicitly set to `false`. Check out #17 for more information.

[2019-07-09 07:42] SammyO commented on #53
@Sub6Resources thank you for your quick reply. I've set `useRichText` to `true`, but it seems my customRender isn't called at all anymore. Any idea why this could be, or is this is being discussed somewhere else already where I can follow it?

[2019-07-09 07:53] SammyO commented on #53
I believe I'm experiencing the same issue as described in [#115 ](https://github.com/Sub6Resources/flutter_html/issues/115), which I see is on planned to be fixed with version 1.0.0.

So please disregard these comments.

[2019-07-09 14:46] thinkdai commented on #118
I think you are fixed "<img width="100%">" this double, but you don't fixed "<img width="100%" style="width: 100%">" this, in style!

[2019-07-09 15:31] Sub6Resources commented on #118
This plugin doesn't actually read the `style` attribute, so there's no way it could be causing the issue. If you could send a stacktrace of the issue that would be great.

[2019-07-10 06:02] DagobertDokate opened #119 "a"

[2019-07-10 06:02] DagobertDokate opened #120 "a"

[2019-07-10 06:02] DagobertDokate opened #121 "a href with image"
Good morning,

a image as a link is not clickable.
`<a href="www.google.de"><img src="https://image.de"></a>`

can you fix it? =)

kind regards

[2019-07-10 06:49] The-Redhat commented on #121
Hey can you please your code of the Html Widget.

[2019-07-10 13:52] #120 closed

[2019-07-10 13:52] #119 closed

[2019-07-11 09:38] thinkdai commented on #118
`flutter: ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
flutter: The following FormatException was thrown building HtmlRichTextParser(dirty, dependencies:
flutter: [_LocalizationsScope-[GlobalKey#8be53], Directionality, MediaQuery, DefaultTextStyle]):
flutter: Invalid double
flutter: 100%
flutter:
flutter: When the exception was thrown, this w

[2019-07-12 22:56] cpboyd opened #123 "<li> issues with block children"
So, I've got content that is of the form:
[code]

The `leadingChar` never gets rendered because there's no direct TextSpan child.
This appears to be because of the root node reset: https://github.com/Sub6Resources/flutter_html/blob/master/lib/rich_text_parser.dart#L716

[2019-07-12 23:21] cpboyd commented on #123
One workaround that I used for my specific issue with `<li>` elements:
[code]

I just noticed from a quick test that `<blockquote>` actually has an inverted behavior:

It only works with block children. 🤷‍♂️

This works:
[code]

This doesn't:
[code]

[2019-07-14 04:07] Andy1984 commented on #118
The problem does not exist in 0.9.6, but it exists in 0.10.2 and 0.10.4. Hope this information helps you debug.

[2019-07-14 06:00] dvird commented on #77
Directionality didn't fully help me,
You also need to add customTextAlign as I did.

`Html(
                                data: snapshot.data.data,
                                customTextAlign: (_)=>TextAlign.right,
                              ),`

[2019-07-16 21:09] kleinpetr opened #124 "OnLinkTap() not working"
[code]

[2019-07-16 21:14] Sub6Resources commented on #124
Please post your `Html` widget code.

[2019-07-16 21:18] kleinpetr commented on #124
Sorry, it was mistake by <a> tag..closing

[2019-07-16 21:18] #124 closed

[2019-07-17 14:39] Sub6Resources commented on #123
Ah, thanks for the bug report. I'll work on getting this issue fixed.

[2019-07-17 14:55] Sub6Resources commented on #94
Closing due to inactivity. Reopen if you encounter this issue again.

[2019-07-17 14:55] #94 closed

[2019-07-17 14:56] Sub6Resources commented on #92
Fixed in #93

[2019-07-17 14:56] #92 closed

[2019-07-17 15:08] Sub6Resources opened #125 "Add support for CSS in <style> tag"
In addition to enhancements outlined in #19, basic styles in the `<style>` tag will be rendered in version 1.0.0.

There will likely be a parameter (proposal: `bool parseStyleTags = true`) that allows this feature to be disabled.

[2019-07-17 15:20] Sub6Resources opened #126 "Add support for <video> tag."
Expanding this issue out to its own issue from #14 to allow discussion.

I plan on supporting the `<video>` tag in version 1.0.0 (see #122).

Currently, I plan on using the `Chewie` widget (https://github.com/brianegan/chewie) to render videos. If you have a different proposal, feel free to give your suggestion here.

[2019-07-17 15:23] Sub6Resources opened #127 "Add support for <audio> tag."
Expanding this issue out to its own issue from #14 to allow discussion.

I plan on supporting the <audio> tag in version 1.0.0 (see #122).

Currently, I don't know of any existing widget to render audio with a fancy UI. If you have a proposal, feel free to give your suggestion here.

[2019-07-17 15:24] Sub6Resources opened #128 "Add support for <iframe> tag"
Expanding this issue out to its own issue from #14 to allow discussion.

I plan on supporting the <iframe> tag in version 1.0.0 (see #122).

Currently, I plan on using the official flutter webview plugin to render web pages. If you have a different proposal, feel free to give your suggestion here.

[2019-07-17 15:27] Sub6Resources commented on #18
This has been fixed in version 1.0.0. See #122 for progress on the 1.0.0 release.

[2019-07-17 15:29] Sub6Resources commented on #55
The default parser has been completely refactored in 1.0.0 and this issue is resolved in that version. See #122 for progress on the 1.0.0 release. This issue will remain open until 1.0.0 is released.

[2019-07-17 15:33] Sub6Resources commented on #71
This issue will be fixed in version 1.0.0. (See #122 for progress on the 1.0.0 release) See #108 for details on this issue as it pertains to that version. I'm closing this issue. Please post future comments for this issue on #108.

[2019-07-17 15:33] #71 closed

[2019-07-17 20:44] noobiek commented on #125
Hi!
While it sounds cool and hype, wouldn't it be better to postpone this feature until, say, v1.1?
There are tons of other features many people here are looking forward to (iframe, video, customRender support). As far as I can see, parsing <style> isn't primary. And implementing it will take time, and then bugfixing it will take even more time. And we all are soooo looking forward to v1.0.0... :)

[2019-07-17 21:36] Kapranov98 opened #129 "Add support for embeded tweets"
I propose to add support for displaying tweets via WebView. For resizing the WebView block you can use javascriptChannels.

`<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Woah, what’s this? A shiny new <a href="https://t.co/q4wnE46fGs">https://t.co/q4wnE46fGs</a> for desktop? Yup. IT’S HERE. <a href="https://t.co/8y4TMzqBGa">pic.twitter.com/8y4TMzqBGa</a></p>&mdash; Twitter (@Twitter) <

[2019-07-18 06:15] The-Redhat commented on #129
I think this should be done through customRenderer when it's available. Otherwise the library loses its simplicity.

[2019-07-18 10:42] Kgwei opened #130 "Request image with headers"
Image network may need headers.

[2019-07-18 14:39] Sub6Resources commented on #129
Yes, @The-Redhat is correct. Rendering tweets is outside of the scope of this package.

[2019-07-18 14:39] #129 closed

[2019-07-18 14:46] Sub6Resources commented on #125
@noobiek thanks for the concern. Don't worry though. I plan to start releasing prerelease versions (i.e. `1.0.0-pre.1`) in the next few weeks prior to releasing v1.0.0 so that people can have access to most of the new features as soon as possible while major features such as this one are finished and tested.

[2019-07-19 09:33] Kapranov98 commented on #129
Will I be able to add a render of tweets in version 1.0 on my own? In the current version, we managed to implement it.

[2019-07-19 14:58] Sub6Resources commented on #129
Yes, 1.0 will re-add support for `customRender` and will otherwise function similarly to the existing RichText parser, so while you may have to make some changes to account for some breaking changes in 1.0.0, you shouldn't have any problems implementing it using `customRender`.

[2019-07-20 12:35] osenv opened #132 "How to hide alt words of the image?"
Hello,

Thanks for this great plugin! I love this one very much. But here comes one problem, if the image has the alt attribute, flutter_html parses it and then show it in front of the page just below the image itself.

Is there any way to hide the alt below the image rendered?

[2019-07-20 12:38] The-Redhat commented on #132
Seems like a dup of #95

[2019-07-20 14:56] Sub6Resources commented on #132
Yes, this is a duplicate of #96, follow that issue for updates. This will be fixed in 0.11.0

[2019-07-20 14:56] #132 closed

[2019-07-21 17:56] CripyIce opened #133 "customRender and onImageTap"
Hi there,
I can see that when using 'HtmlOldParser' (customRender: true) 'onImageTap' handler is not passed, but inside CustomRender (rich_text_parser.dart) i see that there is an handler called 'OnImageTap'.
How can i use this?
I want to display videos with Chewie but also handle onImageTap, how can i do that?
BTW, looking forward to version 1.0 for supporting Chewie with the 'alternate parser'!

[2019-07-21 18:14] The-Redhat commented on #133
As far as I know the onImageTap isn't implemented for the HtmlOldParser. Instead you should use the customRenderer to handle image taps.

[2019-07-23 09:13] osenv commented on #96
Hi @Sub6Resources , any updates on this issue? Kindly ask the timing for next release?

Thank you very much.

[2019-07-23 15:13] KaMoKuMo opened #134 "<sub> and <sup> tag aren't working in the android emulator"
When I tried to emulate the example app on an Pixel 2, using Android 9.0, using AndroidStudio it would neither display the "< sub>2< /sub>" tag at the logs nor the "< sup>2< /sup >" tag at the following x.

[2019-07-23 15:30] Sub6Resources commented on #134
It should at least display them, though incorrectly. Please post the configuration of your `Html` widget and the version of flutter_html you are using.

[2019-07-23 17:54] Sandipnag opened #135 "$ symbol not supporting in data tag"
### I have a HTML where the html consist of a $ symbol. But this showing error:-
### " Expected an identifier".

I am providing my code here:-

`return Scaffold(
        body: Container(
              child: SingleChildScrollView(
                           child: Html(data: """
                                          <p>push the economic cost of allergies and asthma well

[2019-07-23 19:01] Sub6Resources commented on #135
`$` is a special character in Dart strings. You just need to escape it by replacing the "`$`" with "`\$`".

[2019-07-23 19:02] #135 closed

[2019-07-24 11:06] KaMoKuMo commented on #134
I'm not sure what you mean by Html widget config. I copy-pasted your example main.dart into a new flutter project (main.dart) and wrote: ^0.10.4 into the pubspec.yaml

[2019-07-24 11:22] KaMoKuMo commented on #134
child: SingleChildScrollView(
          child: Html(
            data: ...,
            //Optional parameters:
            padding: EdgeInsets.all(8.0),
            linkStyle: const TextStyle(
              color: Colors.redAccent,
              decorationColor: Colors.redAccent,
              decoration: TextDecoration.underline,
            ),
            onLinkTap: (url) {
              print("

[2019-07-27 05:16] KaMoKuMo commented on #134
Do you need any other information?

[2019-07-30 08:34] a451492549 commented on #118
I also encountered this problem in version 0.10.4, and version 0.9.6 is ok

[2019-07-31 08:24] JimJayLee opened #136 "How to implement hero transition for <img> label"

[2019-08-02 07:47] luofeng0603 commented on #118
I have the same issue. My version is 0.10.4

[2019-08-02 17:50] Sub6Resources commented on #136
Can you be a bit more specific about what it is you are trying to do?

[2019-08-02 17:53] Sub6Resources commented on #133
The `HtmlOldParser` is set to be deprecated very soon with 1.0, so The-Redhat is correct, it doesn't support the onImageTap.

[2019-08-02 17:53] #133 closed

[2019-08-02 17:55] Sub6Resources commented on #130
I'll look into adding a configuration parameter for this in an upcoming version. What headers are you specifically wanting to use? Thanks!

[2019-08-03 04:39] JimJayLee commented on #136
When the image is tapped, prompt a new screen showing the image. And I wanna implement hero transition for more friendly user experience.

But I got no chance reaching the Image widget for wrapping it in a Hero widget.
My code shows below.
[code]

[2019-08-03 17:05] noobiek commented on #130
Hi! Why not allow any http headers? People use cookies, tokens, etc to access restricted areas.

[2019-08-03 17:15] noobiek commented on #136
Hi!
Would be great if it was feasible to implement (kind of) "middleware" rendering.
For example, we have middlewareRender() callback, which instead of substituting default IMG renderer completely (as does customRenderer) accepts Image() widget from defaultRenderer and should return a widget (original, altered, wrapped, whatever we want).
something like
`Widget middlewareRenderer(Widget originalWi

[2019-08-03 17:28] SoftWyer opened #137 "font support missing in Rich Text Parser"
The Rich Text parser is missing support for the ```<font />``` tag and thus renders no content. The HTML parser has this support.

I've modified the parser to accept font and to also render the color if it's a HEX string. I'll see if I can arrange for a pull request, e.g.

[code]

```HexToColor``` is a simple class to render the hex string, e.g.

[code]

In theory, font takes an ```'rgb(a,b,c)'```

[2019-08-04 03:30] HDHunter commented on #75
![image](https://user-images.githubusercontent.com/12092336/62419094-310b5580-b6ab-11e9-9b5d-c1655c12fb59.png)

I also have this issue . alway align left . How I make it align center.

[2019-08-05 11:53] tomkastek commented on #136
Just an idea, not much into this package right now:

Use customRender. You can customize how the image will be rendered so that you can render the image as Hero widget. The library is open source so that you can copy the code of the image rendering as child for your custom hero widget.

[2019-08-05 21:04] noobiek commented on #136
Bad idea IMO. Image rendering code may change and then it will require OP to merge all changes everytime manually (given he will notice these changes at all). Plus, it is not about images only. We may want to Hero any widget.

[2019-08-06 06:49] Thetyne commented on #118
same issue but with width="10px"

[2019-08-06 06:49] JimJayLee commented on #136
I got it figured out lately by looking up the source code.

Like guys recommend, just render images yourself using CustomRender. Code works below:

[code]

Thanks for help.

[2019-08-06 06:49] #136 closed

[2019-08-07 15:04] MahdiPishguy opened #139 "set custom font"
how can i set and use custom font in `customTextStyle`?

[code]

[2019-08-07 15:50] KaMoKuMo commented on #134
By setting:
useRichtText = false;
the problem is circumvented.

[2019-08-07 15:50] #134 closed

[2019-08-08 05:59] Sub6Resources commented on #139
That looks correct. Is the `IranSansLight` font set up correctly in your pubspec.yaml file?

[2019-08-08 07:24] MahdiPishguy commented on #139
@Sub6Resources yes, i'm using this font on application and i don't have any problem

[2019-08-08 08:15] gofur commented on #125
can this <style> tag to be implemented?

[2019-08-08 14:42] Sub6Resources commented on #125
@gofur Yes, the tag will be implemented in version 1.0.0.

[2019-08-08 14:44] Sub6Resources commented on #139
@MahdiPishguy What flutter version are you using? (Perhaps post the output of `flutter doctor`.)

[2019-08-08 15:07] MahdiPishguy commented on #139
@Sub6Resources

[code]

[2019-08-08 23:06] gofur commented on #125
@Sub6Resources  already release? where repo can i use?

[2019-08-09 00:47] Sub6Resources commented on #125
No, that feature is still being built, so it hasn't been published to git yet. Should be sometime within the next month.

[2019-08-09 05:39] MahdiPishguy opened #140 "text-align:center not working"
I'm not sure, but after test more this problem i think this style don't work

`<p style="text-align:center">welcome</p>`

[2019-08-13 08:49] andreyeurope commented on #140
`style` is not supported yet.
It is specified in ReadMe.
![image](https://user-images.githubusercontent.com/10363862/62928008-fa72c080-bdb7-11e9-9373-d6716790e1d7.png)

[2019-08-13 08:59] #140 closed

[2019-08-13 14:55] besserwisser opened #141 "Bulletpoints not vertically centered in unordered list"
When using the unordered List with a custom font size, the position of the bullet points is off:

<img width="125" alt="Screenshot 2019-08-13 at 16 43 23" src="https://user-images.githubusercontent.com/25409265/62951606-869ddb80-bdea-11e9-8611-1e2fa212c3c3.png">

Html:
[code]

Flutter:
[code]

Is there any chance that I can get the bullet points to work with any font size? What can I alternatively

[2019-08-13 16:33] SoftWyer commented on #137
PR raised -> https://github.com/Sub6Resources/flutter_html/pull/138

[2019-08-14 08:08] besserwisser commented on #141
Alright, I found the issue in the rich_text_parser.dart. The BlockText Widget does not style the leadingChar accordingly. I will try to make a pull request with a leadingCharStyle argument for the BlockText constructor and passing in the nextContext.childStyle.

[2019-08-14 08:27] besserwisser commented on #141
Here is the pull request

#142

[2019-08-14 09:03] DagobertDokate commented on #121
`Html(
            linkStyle: TextStyle(color: Colors.grey),
            data: deal.content,
            defaultTextStyle: Styles.BLACK_MEDIUM_16,
            onLinkTap: (url) => launch(url),
          ),`

[2019-08-17 10:58] layxyer opened #143 "Add support for HTML Entities"
I crawled some html data, “&nbsp” used for content layout, but it seems that the plugin does not support "&nbsp".

[2019-08-19 23:57] AlastorReach commented on #121
Same problem here, a href with image when is clicked fires onImageTap event and not onLinkTap.

[2019-08-20 16:20] samarthagarwal commented on #106
Any way I can get around this issue?

[2019-08-21 21:03] DrobyshevAlex opened #144 "Can i use with Row?"
[code]
Html - have wrong width. It always width of screen.

[2019-08-22 09:03] riskikukuh opened #145 "pub get failed on Flutter SDK version 1.7.8+hotfix.3"
I want to add flutter_html to my project.
When i run flutter pub get, i get error like this.

[code]

[2019-08-23 05:47] dotneet commented on #145
@riskikukuh Please check your project name.
https://github.com/felangel/bloc/issues/181

[2019-08-23 05:54] riskikukuh commented on #145
@dotneet

ohh ok, sorry i don't know. Thank you for the response

[2019-08-23 05:54] #145 closed

[2019-08-24 19:49] gabrielhernandez3333 opened #147 "<a> tag is not working"
the tag i am using for testing is the following one:

`<a href="https://google.com" class="btn btn-alpha btn-sm" data-original-title="" title="">Esto es una prueba</a>`

When I click on the <a> tag in the rendered view it throws the following error:

[code]

[2019-08-26 12:25] The-Redhat commented on #147
Hey can you please post your Html Widget. Do you specified `onLinkTap`?

[2019-08-26 12:27] The-Redhat commented on #144
I think this issue is similar to #75 .

[2019-08-26 14:18] The-Redhat commented on #147
In order for the onTap of the a tag to work you must specify onLinkTap. For example
[code]

[2019-08-28 11:18] JingyuZhao commented on #118
确实，退回去就好了

[2019-08-28 12:47] cheapw opened #149 "it seem doesn't convert tag<img/>'s width attribute correctly"
where I use flutter_html: ^0.9.6 there was no error occurred, In the (flutter_html: ^0.10.4) version would throw the following error.

The error message:
I/flutter (13563): The following FormatException was thrown building HtmlRichTextParser(dirty, dependencies:
I/flutter (13563): [MediaQuery, DefaultTextStyle, _LocalizationsScope-[GlobalKey#8a7c6], Directionality]):
I/flutter (13563): Invalid dou

[2019-08-28 13:50] Say-hi commented on #149
Meet the same problem

[2019-08-29 06:09] amake commented on #144
This is addressed by #148.

[2019-08-29 06:11] amake commented on #141
#148 may fix this without having to change the style of the bullet point, by making it use the correct baseline. But if you think it's also appropriate to have some styling affect the bullet point then this issue (and #142) are also valid.

[2019-08-29 21:23] Sub6Resources commented on #149
Thanks for reporting! This is actually a duplicate of #118.

[2019-08-29 21:23] #149 closed

[2019-08-29 21:27] Sub6Resources commented on #143
Good catch! Yes, this plugin should definitely support &nbsp; as well as the other named html entities (e.g. `&copy;` `&nbsp;` `&lt;` `&gt;` to name a few). I've renamed this issue to be a bit more general to cover all those cases as well.

[2019-08-29 21:32] Sub6Resources commented on #139
Hmm, this may be related to the issue in Flutter that #131 references. Is it possible for you to upgrade to the Flutter `beta` channel to see if that fixes it?

[2019-08-30 09:22] thuraucsy opened #150 "Is there a way to use <ruby>?"
I wanna use like that
[code]

I have tried the following and didn't get the result as I [expected](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ruby), and when I look into the [source code](https://github.com/Sub6Resources/flutter_html/blob/master/lib/rich_text_parser.dart) , there is no style written for the ruby yet.

[code]

[2019-08-31 23:33] saitbnzl commented on #64
See my [fork](https://github.com/saitbnzl/flutter_html) if you need an urgent solution. I've added customRender to RichTextParser.

There are additional 2 commits, one adds altStyle to RichTextParser, second adds heightNull to ImageProperties in order to allow setting image height to null so we can use fitWidth properly.

[2019-09-03 23:14] noobiek commented on #64
Hi!
Any progress on v1.0.0?

[2019-09-04 03:03] Sub6Resources commented on #64
@noobiek The first round of features is nearly there so there should be a prerelease version in the next couple weeks for people to try out! I'm currently balancing school, work, and this and several other projects, so I can't dedicate nearly as much time to this project as I want to. I'm also trying to balance bug-fixes for the current parser (the `RichText` parser) with implementing new features

[2019-09-06 07:51] LqTk commented on #118
the same bug in 0.10.4

[2019-09-06 09:55] wackyapps commented on #147
I have same issue that A tag is not working. I have added onLinkTap: (url){
}
Below is my code:

`Html(
                padding: EdgeInsets.symmetric(horizontal: 15.0),
                defaultTextStyle: TextStyle(
                    fontSize: 18.0, fontFamily: 'JosefinSans', height: 1.2),
                linkStyle: TextStyle(
                    fontSize: 18.0,
                    fontFamily: 'Jo

[2019-09-06 13:52] Sub6Resources commented on #121
Yup, this is definitely an issue. I'll work to make sure that the `onLinkTap` callback is preferred over the `onImageTap` in this case.

[2019-09-06 14:04] Sub6Resources commented on #96
@osenv Sorry for the delay in response. I'm currently working to get this issue fixed in 0.11.0, which should be released no later than the end of the month.

[2019-09-06 21:00] Sub6Resources commented on #118
This is fixed and the changes will be published alongside other changes in 0.11.0, which will be released by the end of this month.

----

If you don't want to wait for the pub release, you can add the following dependency to your `.pubspec.yaml` file to get the changes early (keep in mind that in doing so, you are using an unstable version of `flutter_html` which may potentially have other unrepo

[2019-09-06 21:00] #118 closed

[2019-09-07 11:00] alp1396 opened #153 "Relative url addresses in <a> and <img> support"
Is it possible to add an "BaseURL" option?
In my case all the links and images comes from API with relative path href="/some/url/there".
So, it would be nice to prefix them with custom String param.

[2019-09-07 19:47] alp1396 commented on #153
Temporary solution for images that works for me. Using customRender() to override <img> processing.
[code]
Note that you need to add [dart:html](https://pub.dev/packages/html) package to get dom.Element check.

[2019-09-07 21:43] Sub6Resources commented on #153
Pull request #146 will fix this issue for images. Relative urls in the `a` tag should be able to be handled in the `onLinkTap` function.

[2019-09-08 16:06] masonzhang commented on #121
I have the same issue. Hopefully the fix can be released soon. Currently I'm using a complicated workaround. Thanks a lot!

[2019-09-10 03:53] flutter-arsenal opened #154 "Add flutter_html to Flutter Arsenal"
flutter_html can be added to FlutterArsenal to help with reach, accessibility and ease-of-use. [Flutter Arsenal](https://flutterarsenal.com) is a directory that is being curated for Flutter libraries and tool. The best way to do is by creating an issue on [github](https://github.com/flutterarsenal/FlutterArsenal/issues/new/choose).

[2019-09-10 04:29] Sub6Resources opened #155 "Add screenshot to README.md"
A screenshot should be added to README.md to make the project a little nicer-looking.

If anybody has one that looks pretty, feel free to send it over. If not, I'll create one in the next little bit.

[2019-09-10 05:05] Sub6Resources commented on #61
0.11.0 adds partial support for the `sub` tag. Unfortunately, the remaining two: `sup` and `bdo` present a challenge due to a lack of support for bidirectionality and superscripted text in the Flutter engine. Hopefully coming months sees this support added. `1.0.0` will add a workaround for `sub` and `sup`. The average user isn't going to be too worried about `bdo` though, so support will take lon

[2019-09-10 05:05] #61 closed

[2019-09-10 05:14] #97 closed

[2019-09-10 05:14] #75 closed

[2019-09-10 05:14] #96 closed

[2019-09-10 05:15] Sub6Resources commented on #144
This has been fixed in version `0.11.0`. Set `shrinkToFit` to `true` to use in a `Row`.

[2019-09-10 05:15] #144 closed

[2019-09-10 07:21] sooxiaotong commented on #97
Thanks , I'll try it later

[2019-09-11 02:52] Sub6Resources commented on #150
Yeah, `ruby` should be on the list of partially supported elements. `ruby` is a super difficult element to translate into Flutter widgets. For now, it will render the text like normal, but the `rp` tags will also render, which is what happens on browsers that do not support `ruby` annotations.

I'll leave this open, since I do plan on officially supporting `ruby` annotations at some point.

[2019-09-11 04:40] karx commented on #154
Flutter HTML is now live on [Flutter Arsenal](https://flutterarsenal.com/projects/fa-git-flutter-html)

[2019-09-11 11:59] EForinaJ opened #157 "How to set the image header"
The image requested by the network needs to set the header

[2019-09-11 13:31] Sub6Resources commented on #157
Thanks for reporting. This has actually already been reported in #130 and we are looking into adding options for headers. Follow that issue for further updates.

[2019-09-11 13:31] #157 closed

[2019-09-11 13:31] #154 closed

[2019-09-12 08:17] w4mxl opened #158 "Bulletpoints not work well in unordered list when use like <li><p>xx</p></li>"
I've got content that is of the form:
[code]
then bulletpoints not work well both with ^0.10.4 and ^0.11.0.

Here are some screenshots:

![html content source](https://i.loli.net/2019/09/12/MYKqZEBQXOHvIj7.png)
👆html content source

<img src='https://i.loli.net/2019/09/12/pxg2dvY4aMINshE.png' width='350'/>
👆render when i used `flutter_html: ^0.10.4`

<img src='https://i.loli.net/2019/09/12/5HKOdGi

[2019-09-13 13:08] sooxiaotong commented on #97
@Sub6Resources this need a documentation for this, If not beginners need to look into the code

[2019-09-13 14:19] #155 closed

[2019-09-13 14:21] Sub6Resources opened #159 "Update Documentation"
The `Html` widget needs better documentation on all of its properties both in-code and in the README.

[2019-09-13 14:22] Sub6Resources commented on #97
@sooxiaotong Yup, the documentation does need to be improved both for this and all the other properties as well. I've opened a new issue for documentation: #159.

[2019-09-15 14:22] hharddy opened #160 "RTL support?"
It seems this plugin has problem with rtl text, how can i change directionality?

[2019-09-17 12:14] Skuland opened #161 "Planned support for <summary> and <details>?"
Hello. I see that you are planning to have support for the 'summary' and 'details' tags. Are you able to say something about when that could happen?

[2019-09-17 13:46] Sub6Resources commented on #160
See #77 for details on supporting rtl text. If you continue to have issues, let me know and I'll reopen this.

[2019-09-17 13:46] #160 closed

[2019-09-19 13:22] namiwang opened #163 "incorrect layout for an <img> inside <table>"
# repro

[code]

# expected

<table>
  <tr>
    <td>
      <img src="https://placekitten.com/200/200">
    </td>
    <td>
      text
    </td>
  </tr>
</table>

# actually

![Screen Shot 2019-09-19 at 21 22 26](https://user-images.githubusercontent.com/1160688/65247808-9fa15700-db23-11e9-888a-acc2556caf73.png)

[2019-09-26 10:35] DagobertDokate opened #164 "Extend OnLinkTap function with link label"
We would have liked to have extended the OnLinkTap function so that it also outputs the name of the link. This allows a tracking to be built in, which name the user clicks on.

What do you think of this extension?

[2019-09-26 21:43] Sub6Resources opened #166 "<video> poster attribute only shows while the video is loading"
**NOTE: This is an issue with code that has not yet been released. See #122 for progress on the 1.0.0 release, which will add support for `<video>`.**

There is an underlying issue with Chewie that prevents us from putting up a placeholder once the image is initialized, but before the user hits the play button.

[2019-09-26 21:48] Sub6Resources opened #167 "<video> muted attribute does not mute the video"
**NOTE: This is an issue with code that has not yet been released. See #122 for progress on the 1.0.0 release, which will add support for `<video>`.**

There is an underlying issue with Chewie that prevents us from initially muting the video.

[2019-09-30 20:31] Sub6Resources opened #168 "Additional examples"
Additional examples would be helpful to users of this package.

[2019-10-02 09:03] franvera opened #169 "Use SelectableText - Selectable content"
Would it be possible to implement the [https://api.flutter.dev/flutter/material/SelectableText-class.html#material.SelectableText.2](SelectableText) widget as a parent?

It appears the constructor `SelectableText.rich` can be useful for this.

[2019-10-05 00:11] JCKodel opened #170 "[Bug] Image won't download if no extension???"
This HTML:
[code]

produces this result:
![image](https://user-images.githubusercontent.com/379339/66246486-dc0bb000-e6ea-11e9-9cdb-75faed807a1d.png)

The first image is on https://mccflutter.blob.core.windows.net/user-photos/d3wNdIniabWR8mLdMQO6yzYriLw2/tickets/ea1ea480-e6fa-11e9-e9bf-01b9973d228c.jpg and work just fine (although in browser it fails to load)

The second image is on https://mcc-ti

[2019-10-07 05:40] DagobertDokate commented on #164
Any news for me?

[2019-10-07 09:12] shamnex commented on #64
Hey man! Nice work. I'm currently working from your latest pull request and I'm trying to figure out how the new Custom Renderer works. Any pointers?

[2019-10-07 10:35] shamnex commented on #64
After digging in a bit, I was able to figure out but I'm still unable to get access to the `node` element. I only have access to the attributes.

Any pointers? This is really important and urgent

[2019-10-07 17:34] Sub6Resources commented on #64
I'm still working to refine the new `customRender`. The only documentation I have on it at the moment is at https://github.com/Sub6Resources/flutter_html/wiki/1.0.0-Migration-Guide#customrender

If you give me a bit more info about the specifics of what you're trying to achieve with `customRender`, I can provide more pointers.

[2019-10-07 23:43] Sub6Resources commented on #170
Are you seeing any errors in the `onImageError` callback?

[2019-10-07 23:44] Sub6Resources commented on #169
That's definitely a possibility, though this will probably only be helpful for a small subset of users, so it would default to a normal RichText with some sort of boolean parameter that makes the text selectable.

I'll look into adding this soon.

[2019-10-07 23:46] Sub6Resources commented on #164
This would be a breaking change, so I'm hesitant to introduce it when the vast majority of users don't require this use case. Can you give a bit more info on your use case for sending the name of the link along with the url? If you want to do tracking couldn't you just add some sort of query parameter to the url?

[2019-10-07 23:49] Sub6Resources commented on #163
Yes, both images and tables have some issues in the latest version. Version 1.0.0, when it is released (see #122), should solve this issue.

[2019-10-07 23:51] Sub6Resources commented on #161
It will happen sometime after version 1.0.0 is released (see #122). My highest priority at the moment is getting all the bug fixes and new features in 1.0.0 ready to go.

I'll keep this open until support for `<summary>` and `<details>` are added.

[2019-10-08 00:21] JCKodel commented on #170
Yes.

![image](https://user-images.githubusercontent.com/379339/66358164-1e7df880-e948-11e9-8523-9937e1e6b639.png)

I had to do this to mitigate the problem:
[code]

When the URL has a file, it works (so I'm changing my `https://bla/api/system/download?file=fileName.jpg` to a direct route `https://bla/api/files/fileName.jpg`).

[2019-10-08 00:34] Sub6Resources commented on #170
Okay, thank you. This appears to be an issue with Flutter's `NetworkImage` code rather than `flutter_html`, so I recommend opening an issue on the flutter repository (https://github.com/flutter/flutter)

[2019-10-08 00:34] #170 closed

[2019-10-08 12:41] franvera commented on #169
@Sub6Resources  I agree, a boolean parameter would be great 😁Thank you for all your work!

[2019-10-09 03:25] shamnex commented on #64
Nice! The docs did help.  But is it possible to have access to the innerHTML of the dom Elements?
I'm working on a project where I need to extract `URL` from an embeded tweet and this is only possible if I can access to the whole HTML.
An embedded tweet looks like this.

[code]
I'm looked out for `blocquote` element  as well as the class `twitter-tweet` and  as you can see, the URL isn't on the bl

[2019-10-09 04:08] shamnex commented on #64
I also noticed there's an issue with Padding or Margin using the customRenderer. I can't seem to be able to make it take up the full width of the device.

[2019-10-09 05:50] Sub6Resources commented on #64
Yeah, exposing the dom Node is definitely possible, I didn't think that many people would need it for custom rendering, but your use case proves otherwise.

As for the issue getting it to take up the full width, do you mind sharing either your code and/or some screenshots so I can debug that margin/padding issue? You can email it at sub6resources@gmail.com if you'd rather not share it here.

Thank

[2019-10-09 08:47] Zerocchi opened #171 "<table> avoid text wrapping"
Is there any way for the plugin to parse `<table>` tag without wrapping the text? Currently the text is wrapped according to screen width, thus creating new line.

![Screenshot 2019-10-09 at 4 36 40 PM](https://user-images.githubusercontent.com/2178354/66465664-e09de300-eab3-11e9-99f5-8109c7434203.png)

I don't want the text to wrap so there will be no ugly newlines, and I also want to be able to

[2019-10-09 11:11] shamnex commented on #64
Hello man, well done once again for all your work and your quick reply.

I've attached a screenshot but if it's not enough, let me know if I can quickly set up a demo flutter project that reproduces the issue.

Here is the first image where I just return a `Text('Hello')` widget. You can see there's padding/margin around the widget.

![1](https://user-images.githubusercontent.com/20919546/66476070

[2019-10-09 19:17] Sub6Resources commented on #64
Thanks for sharing the screenshots. Its not entirely clear what the issue is from the screenshots alone, so if you could send over a demo project reproducing the issue, that would be great. Thank you!

[2019-10-10 03:44] shamnex commented on #64
Hey man, thanks once again. I initially set up a minor project but after going through it one more time I figured out the problem.

I noticed you added padding and/or margin to the blockquote Style so All I had to do was override them.

[code]
Thanks for your time.

[2019-10-10 03:49] Sub6Resources commented on #64
Okay, thank you. I'll be sure to make sure this is more clear when I write the documentation! Thanks!

[2019-10-10 03:53] shamnex commented on #64
Thanks alot man. Have you also looked at this issue I pointed out?
[code]

This throws an error: ` The getter 'attributes' was called on null.`

It only happens when you try to `customRender` an `iframe`.

[2019-10-10 05:04] Sub6Resources commented on #64
Yeah, I'll look into that. I think I have a pretty good idea of what the issue is and it should be a simple fix.

Were you able to figure out the issue with getting customRender to take the full width of the Html widget?

[2019-10-10 06:01] shamnex commented on #64
Yup! as stated in my previous post.

I was trying to use the customRender to override  `blockquote` elements. All I had to do was override the padding and margin of `blockquote` elements in the style property of the  HTML widget.

[2019-10-10 08:47] LeeMatthewHiggins opened #172 "Offline support for images"
I have an application who's user base has patchy internet. The application has a download sync function for offline use. At the moment the RichTextParser uses a standard network image, and so will not work offline. I am using cachedNetworkImage in other places in my application to allow offline images. I have tried using the custom render function, however this does not work when using the rich te

[2019-10-10 13:41] Sub6Resources commented on #64
Awesome! Thank you.

[2019-10-11 19:49] Sub6Resources commented on #171
I'm currently working on refactoring support for `<table>` (see #122) so I'll be sure to keep this in mind while I do so.

[2019-10-12 23:20] kheniparth commented on #172
Could you please tell me where is this branch that you have mentioned? I can see only one "new-parser" branch in this repository.

[2019-10-13 11:02] LeeMatthewHiggins commented on #172
I had to fork to be able to proceed with my project:  See here:
https://github.com/farmsmart/flutter_html/tree/feature/customImgRender
the interface needs a peer review. (happy to work on that with you if needed)
My aim was not to expose the details of the parsing (dom) to the custom image render function (like the current custom function does), this way if you ever change the html parser the api

[2019-10-16 08:39] jihongboo opened #173 "image position"
When the width of an image is smaller than its parent, flutter_html will put the image on the center of the body.
Is there any way that I can put image on the left of the body?

[2019-10-17 09:32] rdcoder33 opened #174 "<a> tag Image not displaying, no error in debug console."
I am trying to add Image of an Amazon product using my amazon -affilate image link.

This is the HTML CODE provided by Amazon:

`<a target="_blank"  href="https://www.amazon.com/gp/product/B07MV8SWZF/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07MV8SWZF&linkCode=as2&tag=vedapps-20&linkId=ca5a946ed09f61f73073c36ecc09b2bc"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_en

[2019-10-17 13:30] Sub6Resources commented on #174
You have a width and height of 1 set on the image. That'll make it pretty small and probably so it looks like it's not there.

[2019-10-17 20:22] Sub6Resources commented on #173
Yes, this is a known issue. It should be fixed upon the release of version 1.0.0 (see #122)

[2019-10-19 04:23] hunglv21 opened #175 "Supported HTML Tags <ruby><rp> ?"
Thank you so much.
But in my case, still not support <ruby><rp>

Html tag like this:
`<ruby>飯<rp>(</rp><rt>はん</rt><rp>)</rp></ruby>`

=> <ruby>飯<rp>(</rp><rt>はん</rt><rp>)</rp></ruby>
but i get: 飯(はん)

Is there any way to display it right?

[2019-10-22 18:41] LBogolubov opened #177 "Load local html file?"
Hi,
Thank you for your job!
Can you help me - can I load HTML from local assets file?

Something like

new SingleChildScrollView(
            child: SingleChildScrollView(
              child: Html(data: LOCAL_FILE_HERE),

Thank you!

[2019-10-23 09:30] dotneet commented on #175
I've submit PR implementing `ruby` and `rt` just now. but `rp` is not support.
https://github.com/Sub6Resources/flutter_html/pull/178

[2019-10-24 02:47] rdcoder33 commented on #174
well, Amazon sent this HTML code.

[2019-10-24 02:59] Sub6Resources commented on #174
You can use the `imageProperties` parameter to override the width and height of all images.

[2019-10-24 06:19] The-Redhat commented on #177
Maybe ![this](https://stackoverflow.com/q/44816042/9107337) post can help you.

[2019-10-27 08:01] sooxt98 opened #179 "Add padding option to ImageProperties?"

[2019-11-01 09:24] ginzbergfarns commented on #147
Any news?

[2019-11-02 16:50] ahmadkhedr opened #180 "onLinkTap Does not work"
`  Html(
                      data:
                          "<a href=\"https://www.alwakeelnews.com\"><img alt=\"\" src=\"https://via.placeholder.com/320x100.jpg?text=C1-320x100\" /></a>",
                      onLinkTap: (link) {
                        print(link);
                      },
                      onImageTap: (image) {
                        print(image);

[2019-11-03 16:22] iharshb commented on #82
I have a still problem with <Strong> tag even in 0.9.7 version

[2019-11-05 15:30] ekasetiawans opened #181 "Ordered List indentation"
I have multiple lines on an ordered list item, but the items are not like on the web with left alignment for all lines.

This is my html source

[code]

This is on the website
![image](https://user-images.githubusercontent.com/20693888/68221041-61042500-001b-11ea-8974-41340ac61435.png)

This is the widget result
![Screenshot_20191105-222404](https://user-images.githubusercontent.com/20693888/68220

[2019-11-05 19:33] premtemp1 opened #182 "Not rendering content properly with multiple UL/LI tag"
Hello,
The plugin is not rendering the html content in proper order for UL/LI tag.

This is my  flutter snippet

`
 child: Html(
                defaultTextStyle: TextStyle(fontSize: 16.0),
                //data: jobDetail.description,
                data:
                    "responsibilities:<br /> <ul><li>Responsibility1</li><li>Responsibility2</li><li>Responsibility3</li></ul>&nbsp; qualific

[2019-11-06 13:14] kheniparth commented on #172
Thank you for the information, and sorry for late reply, I got distracted by other things :-D .
I will try the branch you have mentioned once I get some time.

[2019-11-08 01:14] maheshbhattaraai opened #184 "sup tag not working"
`<sup></sup> ` tag is not working.
I am using flutter_html:0.11.0 in my project, `<sub></sub>` is working perfectly.

[2019-11-11 20:22] wxcvbn612 opened #185 "SelectableText option"
Hi Sir!

can you tell me if we can make selectable text, or add this option to your next update?

Thank you

[2019-11-12 20:18] Larpoux commented on #175
I desperately try to find a way to display Furigana (<ruby>) with flutter.
One time I hoped that flutter_html could help me, but unfortunately Furigana (<ruby>) is not rendered correctly 👎

[2019-11-12 20:51] Larpoux commented on #150
I really need a way to display Furigana (ruby tag). I hope that this feature will be available in a near future.

[2019-11-19 02:58] k3sc opened #186 "It lost data"
`<p>csaaaa</p><p>dasfdsa</p><p><font size=\"4\" face=\"黑体\">dsafdsa</font></p><p><font size=\"4\" face=\"黑体\">fdsa</font></p>`

[2019-11-19 06:42] missXb commented on #186
I have the same problem as you, because flutter_html doesn't support the font tag, but I haven't found a solution yet.

[2019-11-19 06:46] k3sc commented on #186
@missXb I've found an alternative, though not a perfect one.
set
`useRichText: false,`
after that
`
          defaultTextStyle: TextStyle(fontFamily: 'serif'),
          customRender: (node, children) {
            print("customRender");
            if (node is dom.Element) {
              switch (node.localName) {
                case "font":
                  return Column(
                    c

[2019-11-19 07:00] missXb commented on #186
@k3sc I tried it, but the final effect is still a problem. The things that the font tag turns out will automatically wrap.
<img width="343" alt="WX20191119-145949@2x" src="https://user-images.githubusercontent.com/34667902/69123843-564a9500-0add-11ea-8029-4c74c2698a20.png">

[2019-11-19 07:02] missXb commented on #186
@k3sc The html corresponding to the above picture: <p>Milink通过<font face="宋体">提供智能合约、分布式大数据存储、开放接口等机制或服务，降低社区开发者进行开发和使用的成本，实现区块链社交智能生态</font><font face="宋体">。</font></p>

[2019-11-19 07:03] missXb commented on #186
The html corresponding to the above picture:`<p>Milink通过<font face="宋体">提供智能合约、分布式大数据存储、开放接口等机制或服务，降低社区开发者进行开发和使用的成本，实现区块链社交智能生态</font><font face="宋体">。</font></p>`

[2019-11-19 11:48] zinkLin opened #187 "TextAlign.justify is not working"
customTextAlign: (elem) {
              return  TextAlign.justify;
            },

It looks like TextAlign.left

[2019-11-20 09:07] yeszao opened #188 "How can I parse code with <Integer> in <pre> or <code> tag?"
Hello,

I'm using flutter_html with programming codes, and I had html like this:
[code]
when render my html with `customRender`:
[code]
in `renderCode` function, if I use `node.text`, the code rendered will become:
[code]
If I use `node.innerHtml`, It will be:
[code]

Is there a method to resovle it?
Thanks!

[2019-11-22 09:25] praveendp526 opened #189 "many tags including sup is not working,"
previously it used to work, but now many tags are not working including sup. Am i doing mistake or issue with plugin??

[2019-11-22 09:29] #189 closed

[2019-11-22 09:30] praveendp526 commented on #189
by keeping userRichText:false it is working now

[2019-11-22 09:50] hautran90 opened #190 "Multiple url in html"
I have two url in html. I need add function for each url. I only add one function. Can help me  take it? Thanks

[2019-11-22 09:53] hautran90 commented on #190
![Screen Shot 2019-11-22 at 4 52 59 PM](https://user-images.githubusercontent.com/40556511/69416149-8fd30880-0d48-11ea-8d4f-8674d359c313.png)

[2019-11-24 21:02] Ahmadre opened #191 "Scrolling on real devices extremely laggy/slow"
When I run my app in the simulator/emulator the scrolling with ```SingleChildScrollView``` is fast, but when i build an release app and run it on my real device it's lagging extremly! why?

related snippet:
[code]

[2019-11-27 00:06] wxding commented on #180
I have the same problem

[2019-11-28 07:34] ipokidko commented on #181
me too

[2019-11-28 07:35] ashkryab commented on #181
me too

[2019-12-02 21:15] noobiek commented on #125
Hi @Sub6Resources
Any chance 1.0.0 getting released this year?
Thanks!

[2019-12-03 07:02] ControlAdad opened #192 "Selected (long pressed) word"
Hello
How can I enable text selection?
How can I find selected word?

[2019-12-03 13:24] NicolasDionB commented on #180
I have the same problem too but I found that if you disable `useRichText`, it works. Problem is that I encounter other difficulties with the old parser.

Any update on this?

[2019-12-03 15:55] NicolasDionB commented on #147
A fix for that would be of great help since I can't rely on the old parser as it has problems with word wrapping correctly. Using the new richtext parser it works great for rendering but I can't get events!! Please help us on this!!

[2019-12-05 09:35] softronaut commented on #171
Same issue here. Almost every row creating new line.
<img width="355" alt="Screen Shot 2019-12-05 at 12 34 43 PM" src="https://user-images.githubusercontent.com/43244505/70222858-ac653c80-175b-11ea-95c0-75837977766d.png">

[2019-12-05 11:59] arnold-parge commented on #182
Even I am facing this issue. Is it resolved yet?

[2019-12-05 12:21] premtemp1 commented on #182
Please try ..
https://pub.dev/packages/flutter_widget_from_html_core

 Container(
              padding: const EdgeInsets.only(top: 15.0),
              child: HtmlWidget(
              "YOUR HTML TEXT",
                bodyPadding: EdgeInsets.all(0),
                textStyle: TextStyle(fontSize: 16.0),
              ),

[2019-12-06 15:46] zhangzhaojun commented on #184
up

[2019-12-06 15:57] zhangzhaojun commented on #184
In use_html_t: ^1.0.0-pre.2, <sup>is the same  as <sub>。

[2019-12-06 16:37] searchy2 commented on #184
Can confirm, superscript is not working for me either.

[2019-12-06 16:45] searchy2 commented on #121
This issue exists in the default parser, not just the RichText parser.

@Sub6Resources - this issue is really unfortunate because the current onImageTap callback only provides the image URL that is clicked. Often times, an image is used as a button or CTA and needs to open another URL. Would you consider prioritizing this issue?

Currently, the only workaround I can think of is adding the open url

[2019-12-07 23:22] Zerstoren opened #193 "missing_return warning in customRender"
I have in project very strong analysis options and analyzer have parametr missing_return: warning

customRender whant to get Widget or null, but analyzer see in this case warning.
I can't set missing_return to ignore, may be the good solution is create widget like Fallback and will be do same as null?

[2019-12-12 17:10] Sub6Resources commented on #185
This is a planned feature. See #169 for further updates.

[2019-12-12 17:10] #185 closed

[2019-12-12 17:12] Sub6Resources commented on #175
I plan to try and fully support `ruby`, `rp`, and `rt`. I'll take a look at @dotneet's pull request and see if that will work for all use cases.

Thank you for your patience.

[2019-12-12 17:14] Sub6Resources commented on #186
I plan on fully supporting the `font` tag very soon.  There is an open PR adding support for `font`.

[2019-12-12 17:18] Sub6Resources commented on #188
Hmm, this appears to be an issue with the old parser (`useRichText: false`). This should be resolved in the upcoming 1.0.0 version.

[2019-12-12 17:19] Sub6Resources commented on #189
Yes, `sup` is not fully supported with `useRichText: true`. Sorry for the inconvenience.

[2019-12-12 17:20] Sub6Resources commented on #190
You need to add an  `a` tag. (i.e. `<a href="abc@gmail.com">Link</a>`) for the `onLinkTap` function to work.

[2019-12-12 17:20] #190 closed

[2019-12-12 17:23] Sub6Resources commented on #191
There are many possible issues, so it's hard to say. What device are you using? Is the HTML complex? Are you running lots of apps on your device? This could even be an issue with Flutter's performance.

[2019-12-12 17:25] Sub6Resources commented on #181
This is a known issue with the widget and is being tracked at #106. Version 1.0.0 will fix this issue.

[2019-12-12 17:25] #181 closed

[2019-12-12 17:26] Sub6Resources commented on #192
This is not currently supported, but is a planned feature. See #169 for updates.

[2019-12-12 17:26] #192 closed

[2019-12-12 17:27] Sub6Resources commented on #147
I am looking into this. Will have a fix out by the end of the year.

[2019-12-12 17:28] Sub6Resources commented on #180
This is a known issue (see #121). Updates will be posted there. You can anticipate this issue being fixed by the end of the year with the release of 1.0.0.

[2019-12-12 17:28] #180 closed

[2019-12-12 17:30] Sub6Resources commented on #182
There was an issue with lists in old versions, and this has been fixed and will be released with version 1.0.0. See #106

[2019-12-12 17:30] #182 closed

[2019-12-12 17:32] Sub6Resources commented on #184
This is a known issue. This will be fixed with the release of 1.0.0 by the end of the year.

[2019-12-12 17:33] Sub6Resources commented on #193
You can safely return null at the end of the `customRender` function.

[2019-12-12 17:33] #193 closed

[2019-12-12 23:41] Sub6Resources commented on #106
This has been fixed in 1.0.0. See #122 for updates on its release.

[2019-12-12 23:46] Sub6Resources commented on #163
This has been fixed in 1.0.0. This issue will be closed when 1.0.0 is released. See #122 for updates.

[2019-12-13 00:03] Sub6Resources commented on #186
This has been fixed in 1.0.0. See #122 for updates.

[2019-12-13 00:42] k3sc commented on #186
Thank you very much. love you bro

[2019-12-13 02:40] Sub6Resources commented on #188
Just kidding, looking at the specification for both `<pre>` and `<code>`, the browser doesn't do any extra processing to ensure that code is formatted correctly. The best way to handle this is going to be replacing all your `<` and `>` with `&lt;` and `&gt;` respectively.

[2019-12-13 02:40] #188 closed

[2019-12-13 02:49] Sub6Resources commented on #147
This has been fixed in 1.0.0. Watch #122 for updates.

[2019-12-13 05:46] hunglv21 commented on #175
I tried updating and build app.
But still not successful with
`dependencies:
  flutter_html: ^0.11.0`

[2019-12-13 07:06] ekasetiawans commented on #181
Thank you very much

[2019-12-13 11:42] maheshbhattaraai commented on #184
Thank you for your effort.

[2019-12-13 17:58] Sub6Resources opened #194 "Scaled Font Sizes"
Currently, font sizes that should be relative to the parent font size (i.e. defined in `em`s), are hardcoded with pixel values. These font sizes should be altered to dynamically take their font size from the parent style.

[2019-12-13 19:36] Ahmadre commented on #191
I am using a Test-Device in our company with NO APPS installed (Ipad 6G). Sorry but I wouldn't file an issue, if this problem wouldn't be directed to your package. So don't worry you can trust me, it's because of this package! And no the HTML is not complex! It's the SAME HTML like on every device. It's JUST MARKDOWN! Only text nothing else! But it doesn't matter, because I used this package: http

[2019-12-14 07:20] ZCHUANGJie opened #195 "Picture display problem"
When the picture in the loaded rich text is too long (more than 5000 in length), it will not be displayed. When the length is reduced to less than 4000, it can be displayed, but there are new problems. Once the slide occurs, the picture will not be displayed, and when the slide stops, it will be displayed again. This problem will happen again when the long picture is reduced to about 1000.
当加载的富文本

[2019-12-14 09:04] maheshbhattaraai opened #196 "How to show cached image network"
How we can show cached network image from html_parser file.

[2019-12-14 19:42] Sub6Resources commented on #196
@maheshbhattaraai #183 should add support for showing a cached network image.

[2019-12-14 19:42] #196 closed

[2019-12-14 19:47] Sub6Resources commented on #194
Fixed in #197. Will be released with 1.0.0

[2019-12-14 19:49] Sub6Resources commented on #184
#197 fixes this in 1.0.0. Version 1.0.0 will be released by the end of the year, with some prereleases coming soon.

[2019-12-14 20:02] Sub6Resources commented on #14
Support for all elements in this list (excluding `wbr` and `track`) have had support added in 1.0.0. See #122 for updates.

[2019-12-14 20:44] Sub6Resources commented on #107
Support for tables has been re-added to 1.0.0. See #122 for details.

[2019-12-14 21:01] Sub6Resources opened #199 "Fix issues with <ruby> tag"
#178 added support for the `<ruby>` element, but there are a couple small issues with text scaling and line height when using the `<ruby>` element. These issues mostly stem from using the `Transform` widget, which can draw outside of its parent's boundaries.

[2019-12-14 21:22] #177 closed

[2019-12-15 01:51] maheshbhattaraai commented on #172
@LeeMatthewHiggins this supports cached image network?? Do you have demo example.

[2019-12-15 09:26] maheshbhattaraai commented on #196
Not working in flutter 1.10

[2019-12-17 19:46] Sub6Resources commented on #121
This has been fixed in version 1.0.0 and will be released by the end of the month. See #122 for progress on the 1.0.0 release.

[2019-12-17 19:52] Sub6Resources commented on #121
As a note, the fix makes it so that _both_ of the callbacks (`onImageTap` and `onLinkTap`) are called.

[2019-12-17 20:00] Sub6Resources commented on #175
@dotneet's pull request has been merged into the `new-parser` branch and will be released with version 1.0.0. See #122 for updates.

[2019-12-17 20:02] #174 closed

[2019-12-17 20:04] Sub6Resources commented on #150
This has been fixed in version 1.0.0. See #122 for details on the progress of the 1.0.0 release.

[2019-12-17 20:04] #150 closed

[2019-12-23 05:52] luyi-word opened #200 "When can table support ？？？？？"
Hello, when is the next version of 1.0.0? When can you repair HTML's compatibility with table and CSS?

[2019-12-23 14:46] Sub6Resources commented on #200
1.0.0-pre.1 will be released either today or tomorrow, and 1.0.0 will be released shortly thereafter.

[2019-12-23 14:46] #200 closed

[2019-12-24 08:08] larryluo123 opened #201 "support maxLine ? like Text widget"

[2019-12-29 20:09] munnadroid opened #202 "Cannot configure line spacing in new version 1.0.0-pre.1"
Cannot configure line spacing in new version 1.0.0-pre.1.

Also, I cannot configure text alignment(like left, right, justify). I found [customTextAlign](https://github.com/Sub6Resources/flutter_html/wiki/1.0.0-Migration-Guide) 'Not yet available' in the migration guide.

[2019-12-30 16:17] SBNTT opened #203 "Wrong placement"
[code]

<img width="398" alt="Capture d’écran 2019-12-30 à 17 16 36" src="https://user-images.githubusercontent.com/20710321/71590288-2785fc80-2b28-11ea-9608-90328efc6cf4.png">

[2019-12-30 17:58] sh0umik commented on #125
Any news on 1.0.0 with CSS support ?

[2020-01-02 17:42] Sub6Resources commented on #202
Line spacing will likely be available in a later 1.0.0 release. Text alignment can be configured with the `textAlign` property in the `Style` class. I will update the migration guide soon to reflect that information.

[2020-01-02 17:44] Sub6Resources commented on #203
Which `flutter_html` version are you using?

[2020-01-02 17:46] Sub6Resources commented on #201
Duplicate of #29

[2020-01-02 17:46] #201 closed

[2020-01-02 17:58] SBNTT commented on #203
Latest on pub

[2020-01-02 18:02] Sub6Resources commented on #203
There are currently two versions on pub. Is it 0.11.1 or 1.0.0-pre.1?

On Thu, Jan 2, 2020, 10:58 AM SBNTT <notifications@github.com> wrote:

[2020-01-02 22:58] searchy2 opened #204 "FEATURE: Parse Links, Emails, Phone Numbers"
Hi Mr. Mathew Whitaker,
How do you think raw links, emails, and phone numbers should be handled? @Sub6Resources

Should link parsing be done by the end user or should it be included as part of this library? Currently, the way to make links clickable using the HTML widget is to pre-parse the text and pass a prepared String with all <a> tags appended to the widget.

There are pros and cons to both a

[2020-01-03 08:19] SBNTT commented on #203
it only affects 0.11.1.

[2020-01-03 14:16] Sub6Resources commented on #203
I recommend migrating to 1.0.0-pre.1.

[2020-01-03 14:21] Sub6Resources commented on #204
@searchy2, I do believe this would fall outside the scope of this library, which is simply to display HTML that the widget is given. Any parsing like that should be done beforehand. Creating another package for it wouldn't be a bad idea since it's probably a fairly common problem.

[2020-01-03 14:21] #204 closed

[2020-01-03 16:18] searchy2 commented on #204
Outside of the package it is then! I'll probably try my hand at creating a link parser.

Do you have any suggestions for link parsing? I'm modifying the `linkify` library right now because it confuses emails and websites sometimes (emails end with website domains). Any advice?

[2020-01-03 17:02] Sub6Resources commented on #204
Phone numbers shouldn't be too hard. For differentiating between emails and websites, an email will always have the `@` symbol, while a website URL will not (at least that I've ever seen)

[2020-01-03 17:04] Sub6Resources commented on #204
Simply wrapping all of the links in an `<a href>` `</a>`, copying the URL into the `href` and then adding `mailto:` or `tel:` for emails and phone numbers should be enough.

[2020-01-04 09:04] lakshit-tech commented on #62
thanks for given this information. [Sarkari result](https://www.sarkariresult18.in/)

[2020-01-05 13:54] aliyazdi75 opened #205 "<iframe> is not scrollable"
Thanks for this amazing update.
I have tested `<iframe>` and I think it's not scrollable on touching iframe area.
Also for another new tag like `<video>` , `<audio>`.
And by clicking on link in iframe, it opens link on that iframe area.
![Screenshot_1578232826](https://user-images.githubusercontent.com/20153831/71781196-1a15ba00-2fe1-11ea-9f5b-feee7c069669.png)

[2020-01-05 14:11] aliyazdi75 opened #206 "Right to left is not fully supported"
By deprecating `customTextAlign` ,Right to left is not fully supported.
For example for `<b>` tag:
![Screenshot_1578233378](https://user-images.githubusercontent.com/20153831/71781324-99f05400-2fe2-11ea-9a25-049c414c65d8.png)

[2020-01-06 17:17] Sub6Resources commented on #205
Yes, the iframe captures all scroll events inside of it, even if the webpage doesn't scroll. There's not much I can do about this. Also the links are supposed to open inside the iframe area, since that's how an iframe normally behaves.

[2020-01-06 17:17] #205 closed

[2020-01-06 17:19] Sub6Resources commented on #206
You will need to apply a `Style` to the document and explicitly set the text alignment to be `TextAlignment.rtl`.

[2020-01-06 17:19] #206 closed

[2020-01-08 11:31] ngaurav opened #207 "Support external stylesheet for html rendered latex."
Katex does server side rendering of latex files and outputs a html snippet.

A sample output is:
<img width="128" alt="Screen Shot 2020-01-08 at 4 34 44 PM" src="https://user-images.githubusercontent.com/12483343/71973388-dfa45b00-3234-11ea-91c7-5ac56fea6413.png">

And its corresponding html is
[code]

This html code has some classes which can be rendered with an external css from this CDN:
[https

[2020-01-08 14:26] Sub6Resources commented on #207
Great use case! I'll keep this in mind as I decide what CSS attributes are most important to support.

[2020-01-10 20:44] clucauth opened #208 "Support for CDATA"
It'll be nice if the library supports CDATA block. I put a block of code to render like this:

&lt;pre&gt;&lt;code&gt;
&lt;h1&gt;Title&lt;/h1&gt;
...
&lt;/code&gt;&lt;/pre&gt;

Right now, the h1 tag needs to be escaped as \&lt;h1\&gt; A CDATA block will make putting longer block of code less tedious.

[2020-01-11 14:45] ngaurav opened #209 "base64 encoded svg support needed"
`<svg>` tag is supported but when svg image is present inside img tag it fails to get rendered.
For example `<img src='data:image/svg+xml;base64,...../>` will throw an error.
I can see that both `<svg>` tag and `<img>` tag are a subclass of ReplacedElement. But current implementation ignores the meta data (image/svg+xml) inside `<img>` tag.

[2020-01-11 19:35] sliverRing opened #210 "I defined line height and letterSpacing in TextStyle, but it didn't take effect!"
I defined line height and letterSpacing in TextStyle, but it didn't take effect!
`TextStyle(
        fontSize: fontSuzie,
        height: 10,
        inherit: false,
        wordSpacing: 0.0,
        color: Color(0xFF535353),
        letterSpacing: 1.5)`

[2020-01-11 19:38] Sub6Resources commented on #210
How are you using `TextStyle` in the `Html` widget?

[2020-01-11 23:50] bruckmatthew opened #211 "RichText/WidgetSpan in a SliverList error on Flutter Web"
Think this issue maybe related to the flutter master channel, related to this issue flutter/#42086

**My code**
[code]
I am also parsing in html text that's been previously parsed from Markdown using the markdown library (2.1.3). I suspect this is not related though.
`String welcomeContentHtml = markdownToHtml("""Markdown text""");`

**Error log**

[code]
and
[code]
I wrapped the Html widget in a

[2020-01-12 09:10] sliverRing commented on #210
I used the new parser and styled the way to define the html nodes.

[2020-01-13 00:45] sliverRing opened #212 "In the 1.0 version, the line height and font spacing（letterSpacing） I defined have no effect at all. Why is this?"
In the 1.1 version, the line height and font spacing（letterSpacing） I defined have no effect at all. Why is this?
`import 'package:flutter/material.dart';
import 'package:flutter_html/flutter_html.dart';
import 'package:flutter_html/style.dart';
import 'package:flutter_screenutil/flutter_screenutil.dart';
import 'package:literature/common/common.dart';

class HtmlText extends StatelessWidget {
  f

[2020-01-13 00:55] sliverRing commented on #212
Can anyone help me, in the state of Chinese, it is difficult to see without spacing and line height.
This problem has troubled me for a day.

[2020-01-13 07:11] luyi-word opened #213 "Table parsing error. If merging cells in HTML5 is not supported, no error should be reported"
![image](https://user-images.githubusercontent.com/54274687/72237792-aeea6a00-3616-11ea-886b-33d5be4051f6.png)
![image](https://user-images.githubusercontent.com/54274687/72237826-c3c6fd80-3616-11ea-8226-6b972c42f92a.png)

This kind of problem hopes to be solved as soon as possible
这种问题希望尽快解决 .

[2020-01-15 06:00] lenqnr opened #214 "customEdgeInsets doesn't work for img element"
`customEdgeInsets` doesn't work for `img` element event though I wrapped it in another block element. How can I achieve this?

[2020-01-15 12:12] JEuler opened #215 "[1.0.0] Padding"
Sorry, maybe this is a dumb question, but why the 1.0.0 version is adding somekind of padding to the Html Widget? And how I can remove it?
![2020-01-15_15-10-03](https://user-images.githubusercontent.com/231950/72432966-5dbeaf80-37a9-11ea-969f-5086bee4d300.png)
Those widgets are aligned on left, but extra padding is adding. Previously I have succesfully avoided it by using `blockSpacing`

[2020-01-15 12:13] JEuler commented on #215
This is just `p` tag.

[2020-01-15 12:27] JEuler commented on #215
I've tried
` 'p': Style(
                          margin: EdgeInsets.all(0.0),
                          padding: EdgeInsets.all(0.0),
                        )`

It removed the vertical padding, but horizontal still with me. I've tried to add it to the html tag - nothing.

[2020-01-15 14:53] JEuler commented on #210
I am also having troubles with this. I'm setting up style for 'html' tag.

[2020-01-15 18:12] Sub6Resources commented on #215
The margin is automatically added to the `body` tag (like a web browser would), so you need to remove it there.

[2020-01-15 18:12] #215 closed

[2020-01-15 18:14] Sub6Resources commented on #214
Yes, this is a known issue with `customEdgeInsets`. `customEdgeInsets` will be deprecated in version 1.0.0, so I recommend migrating to 1.0.0-pre.1 using the migration guide.

[2020-01-15 18:15] Sub6Resources commented on #213
Thank you for reporting this. Would you mind posting your HTML code so that I can better support merged cells?

[2020-01-15 18:16] Sub6Resources commented on #212
Currently spacing and line height aren't supported by the Style tag, so they are ignored. When the final version of 1.0.0 is released, they will be supported. We apologize for the inconvenience in the meantime.

[2020-01-16 03:20] lenqnr commented on #214
Thank you for the reply. I successfully migrated and now margin is applied to `img` by wrapping with `figure` element. But now, line spacing doesn't work either by
[code]
or
[code]
Anyway closing this issue for now.

[2020-01-16 03:20] #214 closed

[2020-01-16 03:39] tranquoctrungcntt commented on #196
same issue

[2020-01-16 03:47] tranquoctrungcntt opened #216 "Cache image does not work"

[2020-01-16 12:45] ngaurav opened #217 "Bug: Leading space in text after inline image, should be left untouched"
`Html(data: "<p>Text <img src=""/> Text2</p>`
The space just before Text2 is not rendered.

[2020-01-16 12:59] ngaurav opened #218 "Bug: newline character after <br> should not be shown as space."
Most markdown renderers use `<br/>\n` for newline. Just like flutter_html(1.0), browsers convert `\n` into space, but they do not render the space when newline is after `br` tag.

[2020-01-16 16:06] Sub6Resources commented on #217
You are correct. Are you on version 1.0.0?

[2020-01-17 02:22] luyi-word commented on #213
<p>
    一、接收调剂考生的学科
</p>
<table width="707" class="MsoNormalTable" style="margin: auto auto auto 16px; border: currentColor; border-image: none; border-collapse: collapse; mso-padding-alt: 0px 7px 0px 7px; mso-table-layout-alt: fixed; mso-border-left-alt: 1px solid #000; mso-border-top-alt: 1px solid #000; mso-border-right-alt: 1px solid #000; mso-border-bottom-alt: 1px solid #000; mso-border-insi

[2020-01-17 02:46] luyi-word commented on #213
style: {

                  "table": Style(
                    border:  Border.all(width: 1, color: Color(0xff7FA6F3)),
                    width: 750,
                    fontFamily: 'serif',
                  ),
                  "th":Style(
                    border:  Border.all(width: 1, color: Color(0xff7FA6F3)),
                    // width: 750,
                    fontFamily: 'serif',

[2020-01-17 02:58] ngaurav commented on #217
Yes I am on 1.0.0

The solution is to add the following code around line 420

`if (tree is ImageContentElement || tree is SvgContentElement) {`
`    wpc.data = false;`
`}`

[2020-01-17 03:02] ngaurav commented on #218
The solution is to change line 414 in html_parser to:
`if (tree.text.endsWith(' ') || tree.text.endsWith('\n')) {`

[2020-01-17 14:01] mikeCalvir commented on #184
I just ran into this issue too, wondering if there was any news? (Thanks in advance :))

[2020-01-17 14:40] Sub6Resources commented on #184
Use version 1.0.0-pre.1 for full sup/sub support.

[2020-01-20 22:51] mikeCalvir commented on #184
Excellent, thanks @Sub6Resources that has worked!

[2020-01-27 05:52] Nijinsha opened #219 "Support for MathML"
Support for MathML would be a nice feature. Flutter doesn't/ have very few MathML libraries.

[2020-01-27 06:05] Nijinsha commented on #217
Any update on this?

[2020-01-28 06:41] Nijinsha commented on #217
1.0.0 pre seems to fix this. But now there is no space. There should be least a single space between the end of image and text.

[2020-01-28 06:53] Nijinsha opened #220 "Is there a SVG support for the IMG tag?"
I am trying to render an SVG file using img tag. But nothing shows up. Any solutions for this?

[2020-01-30 11:35] aliyazdi75 commented on #206
@Sub6Resources
I know how to use in new `style(textDirection: TextDirection.rtl)` but it doesn't fully supported and some of them are `ltr` that I mentioned before, but `customTextAlign: (_) => TextAlign.right` is fully supported `rtl`!

[2020-01-30 11:39] aliyazdi75 commented on #205
@Sub6Resources
ok, but browser iframe brows a link in a new web page.

[2020-01-30 17:37] Sub6Resources commented on #205
Since the iframe tag depends on the flutter_webview plugin, you'll need to open an issue with them if you believe this should be the standard behavior.

[2020-01-30 17:38] Sub6Resources commented on #219
This would be a good additional package. I'll look into what it would take.

[2020-01-30 20:05] aliyazdi75 commented on #205
@Sub6Resources
Sure, thanks for your response.

[2020-01-31 06:56] Nijinsha commented on #220
Any update on this?

[2020-01-31 07:41] krishnakumarcn opened #221 "What is the maximum character limit this plugin can handle?"
It failed to display a string with 150,000 characters. Is there any way can we make it accept very large strings?

[2020-01-31 20:38] gzlock commented on #169
Yep, I need it too

[2020-01-31 21:21] gzlock opened #222 "The Html widget had two issues in the Container widget with the maxWidth property."
flutter_html version: 0.11.1

flutter doctor:
[code]

Code:
[code]

## The first issue:

When the 'useRichText' and 'shrinkToFit' properties both set true,

The "line 2" is centered even if I set `customTextAlign: (e) => TextAlign.left`

![image](https://user-images.githubusercontent.com/2311740/73575565-791d0080-44b3-11ea-9f5f-3f7007313623.png)

How to set the column(belongs to the HtmlRichTextPa

[2020-02-01 19:35] Sub6Resources commented on #221
When you say it failed, what do you mean?

[2020-02-02 05:40] devry12 commented on #220
I also need this

[2020-02-02 05:40] devry12 commented on #219
I also need this

[2020-02-02 18:04] krishnakumarcn commented on #221
The renderer is not able to rend it and the app crashed without any crash reports on log or run tab.

I play around with the character length and when it is 127000, its is working fine but beyond that it is crashing.

[2020-02-03 16:51] Sub6Resources commented on #222
Try using version 1.0.0-pre.1.

[2020-02-03 16:53] Sub6Resources commented on #221
This seems more like a flutter issue than an issue with this repository.

[2020-02-03 20:01] jhass commented on #121
@Sub6Resources thanks for the fix! Is there a way to suppress `onImageTap`  in this case? Alternatively is there a way to detect this case in `onImageTap` to suppress it there?

[2020-02-03 20:05] Sub6Resources commented on #121
Not currently, I may consider adding that though. What is your use-case for detecting and suppressing onImageTap?

[2020-02-03 20:21] jhass commented on #121
I have user content, namely I render parsed markdown content. Users sometimes embed images which I'd like to provide a lightbox for on tap. But sometimes users also use the image embed for example for a link banner or a link to their own gallery page etc. In this case I want to open just the link and not show the lightbox.

[2020-02-03 20:38] gzlock opened #223 "Hope v1.0.0 can set the whitelist of the elements"
Set up the whitelist easier than the blacklist

[2020-02-03 22:07] mikeCalvir opened #224 "Example and documentation are using deprecated methods"
The example and readme all show usage of methods marked as deprecated.
And if I try and use them, it says "use the replacement", and I am not finding a replacement :)

For example how do I style the links, in the same manner as implied by the linkStyle argument which has been deprecated?

Apologies if it should be obvious, I'm a newbie!

[2020-02-04 11:29] GeertJohan commented on #169
Hi @Sub6Resources I'm willing to work on this. Could we maybe have a short brainstorm/discussion on the tech design of this solution? I'm on gitter.im

[2020-02-04 14:08] GeertJohan commented on #169
I'd be willing to implement this. @Sub6Resources Can we have a quick brainstorm/discussion on the  tech design? I'm on gitter.im

[2020-02-04 15:42] ngaurav commented on #217
Hi @Sub6Resources I have created a merge request to address the issue.
@Nijinsha let me know if it works for your use-case.

[2020-02-06 20:26] Sub6Resources commented on #224
You are correct. The library is in the middle of being updated from 0.11.x to 1.0.0, so the documentation is for an older version. See the [migration guide](https://github.com/Sub6Resources/flutter_html/wiki/1.0.0-Migration-Guide) for information on using 1.0.0.

Sorry for the confusion!

[2020-02-06 20:27] Sub6Resources commented on #223
For what use-case do you need a white list of elements?

[2020-02-06 22:34] gzlock commented on #223
If just allow a, div, img three elements,
now only the blacklist, so I need to set a huge list to arrived the same
effect with the whitelist

Matthew Whitaker <notifications@github.com> 于 2020年2月7日周五 上午4:27写道：

[2020-02-08 20:56] Sub6Resources commented on #222
Closing, since this appears to have fixed your issue. Let me know if you continue to have issues!

[2020-02-08 20:56] #222 closed

[2020-02-08 21:21] Sub6Resources commented on #217
Merged the pull request. This will be released with 1.0.0-pre.2

[2020-02-09 03:36] newengine opened #226 "support copy and paste text"
is it possible to copy/paste text?

[2020-02-09 17:27] hwh97 opened #227 "onLinkTap is not working"
sample code
[code]

[2020-02-10 12:32] MindaugasVV commented on #227
Yes, ontap broke when 0.10.0 released. My example link of not working on tap:
<a href="https://www.impuls.lt"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Chrome_icon_%28September_2014%29.svg/1200px-Google_Chrome_icon_%28September_2014%29.svg.png" width="358" height="117" /></a>

[2020-02-10 12:34] MindaugasVV commented on #227
Yes, 0.10.0 broke ontap when a tag contains images inside. For now iam using 0.9.9 and works fine.
Quick note, using default false on richtext usage does not fix problem.

[2020-02-10 12:42] hwh97 commented on #227
I use HtmlOldParser by setting useRichText to false, and  It solved my example problem.

[2020-02-10 12:42] #227 closed

[2020-02-10 12:47] qingant commented on #169
Any news on this feature? I really need it?

[2020-02-11 19:00] red42 commented on #202
Style doesn't seem to have a textAlign property. It does have an alignment property, but that does not seem to affect text alignment.

I've tried to use <center> but the text remains left-aligned.

[2020-02-11 22:37] Sub6Resources commented on #227
@MindaugasVV  and @hwh97 I recommend using version 1.0.0-pre.1 rather than using the HtmlOldParser to fix your issue.

[2020-02-11 22:38] Sub6Resources commented on #226
See #169

[2020-02-11 22:38] #226 closed

[2020-02-11 22:52] Sub6Resources commented on #202
I realized this last weekend that I never pushed my changes adding `textAlign` before releasing 1.0.0-pre.1. Those changes will be available in 1.0.0-pre.2 or are available now on the `new-parser` branch if you'd rather access them earlier.

[2020-02-11 23:51] Sub6Resources commented on #169
Quick update on the `SelectableHtml` widget:

@GeertJohan and I have been discussing this feature. We discovered that `SelectableText.rich()` requires that all the elements passed into it be `TextSpan`s. Unfortunately, flutter_html makes use of `WidgetSpan`s in addition to the regular `TextSpan`s. I'm working on opening an issue to potentially resolve this on the main Flutter repository, but in th

[2020-02-13 10:10] cuongloveit commented on #191
I have a same issue.
`<p>Để cải thiện vấn đề sắp xếp task, triển khai c&ocirc;ng việc &amp; &yacute; tưởng mới. Hỗ trợ lead v&agrave; PM trong việc đ&aacute;nh gi&aacute; t&igrave;nh h&igrave;nh assign c&ocirc;ng việc v&agrave; l&ecirc;n kế hoạch kế tiếp.</p>

<p>Từ th&aacute;ng 2/2020, TEQ sẽ &aacute;p dụng Heatmap để monitor t&igrave;nh h&igrave;nh c&ocirc;ng việc của tất cả member một c&aacute;

[2020-02-13 21:03] Sub6Resources commented on #191
Thank you for the code snippet to test. I will investigate the slowness issue. Is the app slow every time?

[2020-02-14 11:44] thukuwanjiku commented on #215
@JEuler Please help here, where did you use this snippet? I need to remove the vertical padding in my p tags. Which class is this **Style()**, and in which Html() parameter have you used it in?

[2020-02-14 14:48] Sub6Resources commented on #215
Use `'body': Style(margin: EdgeInsets.zero),`

I'll add better documentation for this.

[2020-02-15 09:08] Nijinsha commented on #219
@Sub6Resources  any updates on this?

[2020-02-17 17:30] aquilarafa commented on #191
Same with me...

[2020-02-19 01:57] cuongloveit commented on #191
the app slow is not always slow every time but the above html snippets cause lagginess to the app.

[2020-02-19 01:59] cuongloveit commented on #191
yes. me too. it's very slow when scroll

[2020-02-19 03:18] nnkti18 commented on #191
Thank you, this solved the laggy scrolling html widget for me

[2020-02-19 07:57] achuan-web opened #229 "Is it possible to introduce external CSS files, and if so, what should you do"

[2020-02-19 09:27] petekblaz opened #230 "Cant stack multiple br"
Multiple <br> wont create additional empty lines. Any idea as to why this is? Is it a bug, or intended behaviour?

[2020-02-19 22:42] Sub6Resources commented on #229
This is a planned feature for version 1.0.0. There is a `css` property on the `Html` widget that will be used in 1.0.0 for loading in external css.

[2020-02-20 06:03] achuan-web commented on #229
Oh, I see. Thank you.

[2020-02-20 17:37] Sub6Resources commented on #230
Which `flutter_html` version are you using?

[2020-02-21 04:02] ngaurav commented on #218
@Sub6Resources What are your thoughts on the suggested change?

[2020-02-21 15:55] thukuwanjiku commented on #215
@Sub6Resources  Where do I place this code?

I have the following code, I don't know where the put your snippet, to remove margins between **_p_** tags

[code]

[2020-02-22 12:20] aliyazdi75 commented on #194
Is it merged?

[2020-02-22 14:34] Sub6Resources commented on #215
It looks like you aren't using version 1.0.0-pre.1, my code would go in a map in the `style` attribute in version 1.0.0-pre.1.

[2020-02-22 15:36] Sub6Resources commented on #194
It is merged into the new-parser branch (i.e. version 1.0.0-pre.1)

On Sat, Feb 22, 2020 at 5:20 AM Ali Yazdi <notifications@github.com> wrote:

[2020-02-23 16:43] softmarshmallow commented on #169
Looking forward to it!

[2020-02-27 14:16] zugspitze opened #231 "Can't parse html"
Thanks for awesome package, it works most of the time but sometimes it can't parse some html tags. For example the following html:

`<ul><li>Hiking boots&nbsp;</li><li>Warm&nbsp; proper clothes</li><li>Water&nbsp; and snacks</li><li>Trekking/hiking poles</li><li>Gaiters</li><li><span style="background-color: rgb(255, 255, 0);">Cash for the tickets</span><br></li></ul>`

Can you please have a look?

[2020-02-27 14:33] zugspitze commented on #231
Sorry, it was a mistake from my side.

[2020-02-27 14:33] #231 closed

[2020-02-29 20:15] adiospace opened #232 "Font scaled to 0.9"
I'm using the ^0.11.1 version and it seems to me that the font size of the generated text of Html widget is smaller than the size of a text from a normal Text widget. I've set the same TextStyle to both. This happens on both Android and Ios, simulators and real devices.

If I set the `fontSizeFactor: 1.11` to the TextStyle of Html widget, they look the same font size.

Is anyone else experience th

[2020-03-01 01:55] osenv commented on #169
I'm looking forward to it too! Really appreciated for this excellent plugin! 💯

[2020-03-01 13:40] mileusna opened #233 "Line height (TextStyle.height)"
I'm using 1.0.0-pre1

It would be nice to have **Style.lineHeight** property or similar, which would be used as TextStyle.height in TextStyle class.

https://api.flutter.dev/flutter/painting/TextStyle/height.html

[2020-03-02 12:53] SoFo12 opened #234 "Split very long content into pages"
I have multiple html files with very long text which I would like to split into pages to make it easier to read and navigate. Here's an example of this:
![image](https://user-images.githubusercontent.com/60541880/75677924-9228f500-5c9d-11ea-9d06-100e07193460.png)
Can I change the widget to implement similar?  And scrollview does not fit.

[2020-03-03 05:03] basnetjiten opened #236 "cannot set maxLine"
is there an option for setting maxLine just like richText ?

[2020-03-03 17:05] JeskTop commented on #199
`Style` could not work for <ruby> and <rt>. This is another problem.
[code]

[2020-03-03 17:32] 10686142 opened #237 "Will the 1.0.0 version also include web support?"
**The issue**
I am have tested the 1.0.0-pre1 version on web and each page using the plugin fails.

This are the logs I get returned every-time:
Another exception was thrown: Assertion failed: file:///Users/vascowerk/Development/flutter/packages/flutter/lib/src/rendering/box.dart:1694:12
Another exception was thrown: NoSuchMethodError: invalid member on null: 'scrollOffsetCorrection'
Another excep

[2020-03-03 17:44] Sub6Resources commented on #199
Thank you @JeskTop. We'll work to resolve those issues as well.

[2020-03-04 09:25] yasinarik opened #238 "id Property Inside HTML Tags Doesn't Work"
### Problem:

I want to use this package to create a basic HTML box for my custom DropZone widget.

If I can directly reach (or target) the widget using `window.document.getElementById("drop_zone")` I will be able to finish it.

However, the above code returns `null` .

I've also checked via Chrome DeveloperTools and cannot find an HTML element with the `id="drop_zone"` 😩

**Here is the main issue

[2020-03-04 21:53] Sub6Resources commented on #232
Thank you for reporting this. It appears that the `RichText` widget does not automatically scale text based on the user's preferences. I will look into this and see if there is a solution.

[2020-03-04 21:54] Sub6Resources commented on #233
Yes, this is a planned feature in 1.0.0. Thank you for your suggestion!

[2020-03-04 22:05] Sub6Resources commented on #234
In version 1.0.0-pre.1, you could use the customRender callback to create page breaks.

[2020-03-04 22:08] Sub6Resources commented on #237
Interesting. Thank you for catching this regresssion. There is a chance that 1.0.0 will not support web right off because of its dependency on third-party plugins that may or may not support web. I plan on releasing a light-weight version of the plugin shortly that only has core functionality and should work on web right away.

[2020-03-04 22:10] Sub6Resources commented on #238
This appears to be an issue with the official flutter html library, not with this library. If you believe this is a mistake, let me know and I'll reopen this.

[2020-03-04 22:10] #238 closed

[2020-03-05 02:50] Ahmadre commented on #191
I used another package, which worked fluently. No workarounds needed like this. And the other package is maintained regularly

[2020-03-05 06:10] xuwankang opened #240 "onImageTap can get the image array?not only one image"

[2020-03-05 08:22] SoFo12 commented on #234
can you give an example please?

[2020-03-05 08:49] fauzynurn commented on #64
Is there any solution of this? i faced the same issue on version 1.00-pre.1

[2020-03-05 09:31] 10686142 commented on #237
Thanks for your response and I am looking out for that version so I can test it.

p.s. I do hope you won't stop supporting this plugin when flutter_webview hits their 1.0 release. I am building an app with your plugin that is way faster than a WKWebView (iOS) or WebView (Android) in loading HTML. I know this because we have build about 6 similar Native iOS and Android apps with their native webvie

[2020-03-05 15:53] Sub6Resources commented on #240
What do you mean by image array? Do you have more than one image per `img` element?

[2020-03-05 15:58] Sub6Resources commented on #234
You could insert a custom element, say `<pagebr />` into your html code whenever you want a page break, and then using the `customRender` callback, you could make that widget insert several newlines and/or a `Divider`. Alternatively, you could wrap each page in a `<page>`, `</page>` tag and use the style callback to add border/margins to each page.

See https://github.com/Sub6Resources/flutter_htm

[2020-03-05 16:00] Sub6Resources commented on #237
Yeah, I've mentioned before that I plan on supporting this beyond the 1.0 release of webview_flutter. The README is a bit outdated and will be replaced soon. It seems I've found several use cases that a webview is just plain overkill for.

[2020-03-05 16:04] Sub6Resources commented on #191
I am working to improve performance for this package right now as well.

[2020-03-05 16:06] Sub6Resources opened #241 "Custom-rendering iframe throws an error"
Thanks alot man. Have you also looked at this issue I pointed out?
[code]

This throws an error: ` The getter 'attributes' was called on null.`

It only happens when you try to `customRender` an `iframe`.

_Originally posted by @shamnex in https://github.com/Sub6Resources/flutter_html/issues/64#issuecomment-540335496_

[2020-03-06 11:08] xuwankang commented on #240
Like this, the html have two or more images,onImageTap can only get the image’s src what I tap,but I cant get the other image’s src at that moment,I want to tap an image and get an array,so I can make a photo view.

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Matthew Whitaker<mailto:notifications@github.com>
发送时间: 2020年3月5日 23:53
收件人: Sub6Resources/flutter_html<mailt

[2020-03-07 03:06] ngaurav commented on #218
@Sub6Resources Awaiting your response 🙂

[2020-03-09 17:49] Sub6Resources commented on #240
Unfortunately this is outside the scope of this project. You can get a list of images by parsing the html yourself for `<img>` tags.

[2020-03-09 17:49] #240 closed

[2020-03-10 09:00] drewbitt opened #242 "Irregular row lengths in tables throw error"
[code]
Latest `new-parser` branch.
Using rich text fixes the issue.

Example:
[code]
That's a valid HTML table.

[2020-03-10 14:19] bearty opened #243 "Parent CustomRender override child CustomRender"
I'm trying to add SelectableText to paragraph, and clickable links. But link CustomRenderer not work if it inside paragraph. Am I doing something wrong? How to fix it?

[code]
![Screen Shot 2020-03-10 at 19 18 13](https://user-images.githubusercontent.com/12793413/76321483-e9fdd680-6303-11ea-84eb-9aba7ef754cb.png)

[2020-03-11 15:17] Sub6Resources commented on #242
Thank you. I'm aware of the issue and am working on a fix.

[2020-03-11 15:30] Sub6Resources commented on #243
Your customRenderer is overriding all the styling and functionality added by the Html widget because you are using `element.text` rather than the `child` attribute, which has already been parsed. The `element` property is just the raw html `dom.Element` that the `Html` widget uses to create the widget tree.

Unfortunately it is difficult (if not impossible) to nest custom renderers when you are us

[2020-03-13 12:09] slc1973 commented on #230
I use `0.11.1` and have the same behavior.

Not create empty line:
[code]

Create new line with ".":
[code]

[2020-03-13 18:26] Sub6Resources commented on #230
Try using version 1.0.0-pre.1. It handles whitespace much better.

[2020-03-13 18:37] slc1973 commented on #230
Doesn't work, tried already...

[2020-03-14 22:36] j574144 opened #245 "p inside li cause line break"
I'm using a rich text editor that build li element with p inside it and this cause line break.

Please  guide me o suggest me about how to  exclude this line break in this case

[2020-03-14 23:05] j574144 commented on #245
Hi.

I solved this with `customRender`.

Thanks for your attention

[2020-03-15 11:17] oualidcena opened #246 "Rendered html content is not Selectable"
I can't select and copy the rendered html content.

[2020-03-16 09:24] GeertJohan commented on #169
I'm not yet implementing this feature because it will have almost no effect for me, I need links to work and found out that clickable elements don't work with `SelectableText.rich()`.

See https://github.com/flutter/flutter/issues/43494

Once this has been resolved, I can properly work on a `SelectableHtml` that works for simle html.

[2020-03-16 10:05] 10686142 opened #247 "Could the flutter_svg depency be updated? Error: The type 'Diagnosticable' can't be used as supertype."
Is it possible to update the '1.0.0-pre' version's flutter_svg depency to the latest version?

I am asking this because the older versions have an issue with one of the latest flutter versions, which I am also experiencing.

You can check this issue to see the resolution:
https://github.com/flutter/flutter/issues/52441

These are the error logs I am seeing:

`
Compiler message:
../../../Developmen

[2020-03-16 10:05] #247 closed

[2020-03-16 10:06] 10686142 commented on #247
Never mind, I didn't see this yet:
https://github.com/Sub6Resources/flutter_html/pull/244

[2020-03-16 18:59] tauitdnmd commented on #173
Hi. Is there any news about 1.0.0 release?
Im facing this issues tooo.

[2020-03-17 15:44] GoltVik opened #248 "Image galleries"
Hi. I want to have some styling for images what can be in html and wrap it to Widget what I can provide from my app code. If you interested I will make a PR for this ;)

[2020-03-17 17:27] mehmetkemalbayer opened #249 "dir support"
Hi,
Is there a way to make 'dir="rtl"' attribute work?
Thank you.

[2020-03-19 05:48] kaarens93 commented on #184
using 1.0.0-pre.1 but sup isn't working still. text disappears completely

[2020-03-19 11:01] drewbitt opened #250 "Background color alpha overlap at bottom"
Errors in both light and dark mode
`new-parser` branch

Code:
[code]

![Example](https://i.imgur.com/J2OvfZv.png)

Most colors .withAlpha have this issue

[2020-03-19 16:42] thearaks commented on #202
Hi @Sub6Resources!
Do you know if 1.0.0-pre.2 will be released soon?
There's anything I can do to help/contribute to speed up the release?

[2020-03-20 15:17] Larpoux opened #251 "[1.0.0-pre.1] - Compiler errors"
I was using successfully ` ^1.0.0-pre.1` until this month beginning, but now I have an error message when compiling for iOS.
When I replace `flutter_html: ^1.0.0-pre.1` by `flutter_html: ^0.11.1`, everything runs fine.
But I really, really need furigana/ruby support.
Is this a bug in  1.0.0-pre.1 ?
Is there any date planed to integrate 1.0.0-pre.1 in the master branch ?
Thank you very much for all

[2020-03-20 19:32] Larpoux commented on #251
I fixed this issue with changing the dependency to flutter_svg in `pubspec.yaml` :
[code]

[2020-03-21 07:07] tauitdnmd opened #252 "[1.0.0-pre.1] Exception 'access a property while attributes is null' Using Custom render IFRAME tag"
Hi,
Currently, I'm using flutter_html version 1.0.0-pre.1 for my project.
And it hasn't supported iframe tag yet. So I decided to work on custom render for it.
But there is an error as in the title. Before calling my custom render, the library does some pre-processing & parsing work which is resulting in accessing attributes property while attributes are null
Thanks

[2020-03-21 07:12] tauitdnmd commented on #246
Yeah, I think it's better to give out a property where we can enable using SelectableText instead of Text

[2020-03-21 18:38] Larpoux opened #253 "[1.0.0-pre.1] - <ruby/> (furigana)"
The `<ruby/>` tag and `<rt/>` tag, are a terrific feature.
Thank you for your work.

Just a detail : The Furigana annotation (above Kanji) touch the Kanji characters.
I would like to separate Furigana and Kanji with 1 pixel. (Or Maybe 0.5 pixel would be enough).

Is there anything I can parameter for that ?
(Even a hard patch/hack inside flutter_html code would be OK).
<img width="116" alt="Screen

[2020-03-23 00:13] assurancetourix opened #254 "Parse style attribute in tags, at least for color/backgroundcolors ?"
Hello,

Thanks for the good work and all hours saved!

The package considers Style to be set as "global" for all tags (https://github.com/Sub6Resources/flutter_html/wiki/Style)
Is it a chance we could have style by design parsed inside tags, at least for colors/backgroundcolors ?

`<p style="color:red;">This is a paragraph.</p>`

Then it'll be very close to all the functions available in simple ri

[2020-03-23 08:14] shinewanna commented on #179
I vote for padding option to ImageProperties.

[2020-03-23 16:21] JeskTop commented on #253
https://github.com/Sub6Resources/flutter_html/pull/239
This requests will fix this problem.

[2020-03-23 16:26] Larpoux commented on #253
Yeah 😃
Thank you @JeskTop

Thank you for the terrific work done.
My client/customer is so glad that I can display Furigana 👍
Have a nice day @JeskTop

[2020-03-24 03:14] shinewanna commented on #186
dom.Element this is error on me,need some import?

[2020-03-26 18:27] The-Redhat commented on #246
There's already an issue for that: https://github.com/Sub6Resources/flutter_html/issues/169

[2020-03-29 00:24] #246 closed

[2020-03-29 00:27] Sub6Resources commented on #254
Yes, this is a planned feature and is close to being completed and released.

[2020-03-29 00:28] Sub6Resources commented on #252
The iframe tag is actually supported in 1.0.0-pre.1, so you shouldn't need to create a custom renderer for it.

[2020-03-29 00:31] Sub6Resources commented on #202
@thearaks Unfortunately I am a full-time student and work part time as well, so I have very little time for personal projects, especially with the current pandemic affecting my schooling. I will try to get to this soon. If you would like to access the most recent changes, you can always import the new-parser branch specifically in your Flutter project.

[2020-03-29 00:33] Sub6Resources commented on #249
Version 1.0.0-pre.1 should have pretty good support for `dir="rtl"`

[2020-03-29 00:35] Sub6Resources commented on #248
Unfortunately image galleries are outside of the scope of this project, so I won't be accepting that sort of pull request. Thank you for your idea though.

[2020-03-29 00:35] #248 closed

[2020-03-31 06:28] Niaaaansi commented on #186
emm，in^0.11.1, <font>tags will still be ignored，is my method right?
like this: Html(data: '<font color=red>TEST</font>')

[2020-04-01 03:23] andy1xx8 opened #256 "[Improvement] Ability to create a Html widget from Element/Document"
Hi there,
We all know that html parsing is a heavy and robust job.
In the practical project, We often  have a seperated isolates:
+ Parse the source html string to a document & do some pre-processing and extraction.
+ At the end, we have a well-format dom tree ( Element or/and Document)
=> If we can create Html widget from those Element or/and Document , then the speed of rendering is much faster

[2020-04-01 03:25] #252 closed

[2020-04-01 13:34] fadhlisulaimi commented on #241
I have this issue as well for 1.0.0

[2020-04-02 09:38] Larpoux commented on #253
@JeskTop :
Now I use the [rt-distance branche](https://github.com/JeskTop/flutter_html/tree/rt-distance) and the display of Furigana is very good 👍 .
I hope that your Pull Request will be integrated to the Master branch soon.

[2020-04-02 09:38] #253 closed

[2020-04-03 00:24] fadhlisulaimi commented on #241
Managed to solve this by using my own widget. In my case, I have created my own custom youtube player widget for iFrame.

Go to replaced_element.dart file, then in IframeContentElement class (line 171) override the toWidget method and return your own widget.

[2020-04-05 05:34] Sub6Resources commented on #186
@Niaaaansi Use version 1.0.0-pre.1

[2020-04-05 05:38] Sub6Resources commented on #256
This is definitely a good idea. I wouldn't mind implementing a separate constructor (i.e. `Html.fromDom(...)`. I don't have lots of time, so a PR against the new-parser branch implementing this change would be greatly appreciated.

[2020-04-07 04:43] nanchen2251 opened #257 "span can not work"
I just look this isues: [https://github.com/Sub6Resources/flutter_html/issues/80](https://github.com/Sub6Resources/flutter_html/issues/80)
but this answer can not deal my problem.

there are my codes:
` Html(
            data: '<span style="color: green;">morning</span>怎么读',
            defaultTextStyle: CommonTextStyle(
              font: CommonTextFont.PingFangSCMedium,
              fontSize:

[2020-04-07 13:42] nanchen2251 commented on #257
To be precise, the color does not take effect

[2020-04-08 03:53] canisterism opened #258 "[1.0.0-pre.1]Using Style(before: "!") will raise error"
Hi, I really like this package and thank you committers to create such great package.
Here I report unexpected behavior that seems a bug.

## Environment

- flutter_html: ^1.0.0-pre.1

[code]
# Steps to reproduce

Here's code to reproduce.

[code]

# Expected Result

I wanted to alternate `<li>`' s bullet point with `before: "!"`.

(In the first place, I wanted to change bullet point of `<li>`, fr

[2020-04-08 04:37] uc-apa opened #259 "1.0.0-pre.1 Release"
Please release the dev version 1.0.0-pre.1. Please release it for production. We want to use it in our project but due to some outdated plugins like video_player etc. it shows deprecated warnings while building android.

[2020-04-08 12:03] caoyunxiao commented on #179
Why does setting the alignment in ImageProperties not work

[2020-04-09 07:44] #257 closed

[2020-04-09 13:36] jlcool commented on #237
Didn't notice that he didn't support the web, so upgraded it, which made it unable to run on the web. I'm looking forward to supporting the web as soon as possible

[2020-04-09 14:41] jlcool commented on #237
Take a look at this. Deleting a third-party plug-in is not available https://github.com/flutter/flutter/issues/42086

[2020-04-10 16:07] marcjoha commented on #251
After a flutter upgrade I'm hit by this as well. The workaround mentioned above doesn't work, I'm getting:

[code]

[2020-04-12 03:35] t3chvest opened #260 "Sub tags within links breaks pageload"
Trying to add subscript tags in links breaks the page.  Looks like `<sup>` doesn't work either, but doesn't break the page.  Handful of other text modifiers tested seem to work as normal (strong, small, em, strike).

Ex.,
`<a href='link.html'>change in CO<sub>2</sub>in the atmosphere</a>`

Leads to:

(beginner programmer doing this for a school project so apologies ahead of time if this is somethi

[2020-04-13 03:52] t3chvest commented on #260
moved to 1.0.0-pre.1, looks like it handles this issue fine with the changes in richtext parsing.

[2020-04-13 03:52] #260 closed

[2020-04-13 08:32] tauitdnmd commented on #216
Could u please give more detail?

[2020-04-13 14:45] tranquoctrungcntt commented on #216
Image always reload when page is shown. It makes the page resize evertime the page is shown

[2020-04-13 16:57] tauitdnmd commented on #216
@tranquoctrungcntt  Remember that this repo  uses the default image caching strategy of flutter.
your images  maybe are cached but it's take time to show  on UI. And therre is no place holder to images before thay are loaded onto UI. That's why you  see your html page are resizing.
In order to solve this, i think you can work on customizing your own image renderer and give it a place holder

[2020-04-14 15:19] red42 commented on #251
You can override dependencies in your own project's pubspec.yaml, then you don't need to worry about editing the package's pubspec. This fixes the issue:
[code]

[2020-04-14 22:18] pbsajjad opened #262 "Changing blockSpacing value"
Hi.
Why changing in blockSpacing not affect in results?! I want to change space between p tags. but nothing happend!
thanks.

[2020-04-15 10:21] bgpastukh commented on #17
any walkaround? I need to use customRender (to render iframes), so can't use RichText

[2020-04-15 22:09] Sub6Resources commented on #258
Thank you. This is a very helpful error report. We will work on fixing this.

[2020-04-15 22:16] Sub6Resources commented on #262
This is a known issue. Try using version 1.0.0-pre.1 and the `style` attribute to adjust the space between `p` tags.

[2020-04-15 22:23] Sub6Resources commented on #237
Good catch @jlcool. I'll look into what it will take to get this plugin to web.

[2020-04-15 22:54] Sub6Resources commented on #218
I'm looking into this and your pull request now. Thank you for your patience!

[2020-04-15 23:16] Sub6Resources commented on #218
Merged the PR in. Thank you!

[2020-04-15 23:16] #218 closed

[2020-04-16 13:35] fadhlisulaimi opened #263 "Single/Double quotes not parsing correctly"
Hi,

First of all, thank you so much for this amazing package. I'm looking forward for v1.0.0 to be released. I would like to highlight an issue i'm having. All text that has single/doubts quotes on them are not parsed properly. In the UI, it is showing [?] in iOS and android as shown below. I am using the default parsing and not any custom rendering for the text.

![Screenshot 2020-04-16 at 9 29

[2020-04-16 14:25] Sub6Resources commented on #263
That's really odd. Do you mind sharing a snippet of your code so I can reproduce it?

[2020-04-16 14:27] Sub6Resources commented on #17
@bgpastukh You can also use version 1.0.0-pre.1 which has built in support for iframe rendering and wraps lines correctly as well.

[2020-04-16 14:29] Sub6Resources commented on #260
@t3chvest Glad you found the new version. Good luck on your school project!

[2020-04-16 15:11] fadhlisulaimi commented on #263
On second thoughts, i think its caused by html package im using. Apologies for that. I use that to scrape the html source code on the source i'm using (similar to how jsoup works). From there, i am using your package to convert the html codes to widgets.

[https://pub.dev/packages/html](url)

[2020-04-16 15:11] #263 closed

[2020-04-16 16:03] ngaurav commented on #218
@Sub6Resources My pleasure :)

[2020-04-16 16:05] Sub6Resources commented on #263
No worries, glad you figured it out.

[2020-04-16 17:59] nicholasgerard commented on #169
@GeertJohan @Sub6Resources Looks like this is fixed on flutter/dev. I'm happy to help with the implementation/design if needed.

[2020-04-16 18:03] Sub6Resources commented on #169
@nicholasgerard It looks like the issue was closed but I don't see any PRs that mention where the change was made. Do you see something I'm not?

[2020-04-16 18:08] nicholasgerard commented on #169
@Sub6Resources Sorry I meant flutter/master, it hasn't landed on dev yet:

https://github.com/flutter/flutter/pull/54479

[2020-04-17 07:04] canisterism commented on #258
Thank you for response. I'm looking forward to fixing it!

[2020-04-17 17:45] MilosKarakas opened #264 "<video> has a lot of padding around it"
Hi, i wanted to use your package to render <iframe> and <video> tags. <iframe> is working as expected, but all <video> tags are placed with a vertical padding around them.

![image](https://user-images.githubusercontent.com/34490121/79597706-0ea75400-80e3-11ea-9e9f-62965f88587a.png)

After investigating your package I found out that the chewie package, responsible for showing video tag, is not wor

[2020-04-18 09:34] bssawais opened #265 "onLinkTap not working on Web Chrome"
onLinkTap not working on web chrome but working fine on Android... any suggestions?

[2020-04-18 16:01] Sub6Resources commented on #264
That is odd. I'll look into it.

[2020-04-18 16:03] Sub6Resources commented on #265
This is a known issue with Flutter Web. I believe it has been fixed in the Flutter master channel if you want to switch.

[2020-04-18 17:54] MilosKarakas commented on #264
@Sub6Resources thanks, looking forward to it.

[2020-04-19 09:42] jhass opened #266 "Support start property for ordered list"
Currently an ordered list like

[code]

renders as

1. Foo
2. Bar

It would be great if it could render as

5. Foo
6. Bar

[2020-04-19 10:35] jhass opened #267 "Rendering issues with links inside headings"
Links inside headings generate all kinds of suboptimal renderings.

For example:

[code]
renders both headings on the same line without any space.

[code]

breaks to a new line before the anchor tag whereas browser choose to break on a word boundary within the anchor.

[2020-04-19 15:08] Sub6Resources commented on #267
Which flutter_html version are you using?

[2020-04-19 15:17] jhass commented on #267
The latest 1.0 prerelease

[2020-04-20 04:32] ekuleshov opened #268 "Support the "anchor" links within the same document"
Please add support for the "anchor" links in the `<a>` tag:

Link to an element with a specified id within the page (like `<a href="#top">`)
https://www.w3schools.com/tags/att_a_href.asp

For these links (any started with `#`), instead of calling the `onLinkTap` callback, the html widget should scroll to the element with id matching one specified in the href attribute.

[2020-04-20 10:17] bssawais commented on #265
i tried master but still not working!

[2020-04-23 03:33] #221 closed

[2020-04-23 11:41] klaszlo8207 opened #269 "Video not working??"
How to add video url?

[2020-04-23 12:31] wangbo4020 opened #270 "Accessibility compatible"
The plugin Accessibility is not compatible

[2020-04-23 16:33] softmarshmallow commented on #169
how is it going on? flutter now supports selectable text

[2020-04-24 00:00] drewbitt commented on #270
What's not accessible about the master branch? Screen reading works. Or is this regarding the new-parser branch, and if so, on what points?

[2020-04-24 04:50] wangbo4020 commented on #270
example set showSemanticsDebugger is true.

Link button will twinkle

talkback can't read, just like:
[code]

[2020-04-24 13:27] Sub6Resources commented on #267
Okay, thank you. I'll look into it.

[2020-04-24 13:32] Sub6Resources commented on #169
This feature will take some time to roll to stable. There are also other blocking issues right now that prevent most HTML from being made selectable.

[2020-04-24 13:36] Sub6Resources commented on #269
Are you on the latest flutter_html version (1.0.0-pre.1)?

[2020-04-24 14:29] klaszlo8207 commented on #269
Yes I using that, what is the correct string to add a video tag?

[2020-04-24 15:45] klaszlo8207 opened #272 "Disable/tilt some tag?"
I want only

link
italic
bold
table

 tags to support.

Any way to disable the others?

[2020-04-25 13:09] josearagon commented on #233
We are looking forward to that new upload. We need `line-height` and `text-align` please.

Thanks a lot!

[2020-04-28 07:01] chiefyk opened #274 "Video and audio not disposing properly"
When leaving a page with video or audio, the media continues to play. Upon entering the page again, the media will play over the top of the existing media.

I haven't been able to find a way of disposing of the player, unless I have done it wrong.

[2020-04-28 19:08] marcjoha opened #275 "Inline quote tag (<q>) doesn't work"
Thanks for a great library! It appears the q tag doesn't work on ^1.0.0-pre.1. The below returns an object with mostly nulls.

`Html(
        data: '<q>test</q>'
      )`

[2020-05-01 08:11] foadem opened #276 "Text Direction RTL"
Is it possible to change text direction of html data to RTL?

[2020-05-01 11:40] #276 closed

[2020-05-04 08:08] klaszlo8207 opened #277 "<font color>"
**font color='#ffdedede'** not working

how to colorize a text?

[2020-05-04 12:32] krishnakumarcn commented on #29
Any updates on this feature?

[2020-05-06 11:36] canisterism opened #279 "[1.0.0-pre.1] configurable for left padding for <li> ?"
Hi, Thank you for such a great package.
Here I have a question about layout when using `<li>` of ^1.0.0-pre.1.
I can't figure it out whether I went something wrong, I missed some option or it's just not supported yet. Details down below.

## Environment

- flutter_html: ^1.0.0-pre.1

[code]

# Steps to reproduce

Here's the code to reproduce.

[code]

# Expected Result

I think this left padding (

[2020-05-07 09:27] canisterism opened #280 "[1.0.0-pre.1] Compile error in latest stable version (flutter v1.17)"
Flutter was recently updated in its stable channel, with breaking changes for this library (1.0.0-pre.1).

This package depends on flutter_svg (^0.14.1) but you can't use flutter_svg (^0.14.1) in the latest stable version of flutter (1.17).
Flutter_svg on 0.17.2 is available in the latest stable version.

Therefore you need to update flutter_svg to 1.17, or you can't compile in the latest stable v

[2020-05-07 10:19] canisterism commented on #280
Wait, is `new-parser` branch already available in the latest stable version?
We might just have to refer to that branch to use flutter in 1.17.

Anyway, it seems I don't have to create PR. I'll be still waiting for a response from contributors though. (I'm closing my PR.)

[2020-05-07 12:35] canisterism commented on #280
This comment solved my situation.
https://github.com/Sub6Resources/flutter_html/issues/251#issuecomment-613505241

[2020-05-07 12:35] #280 closed

[2020-05-07 13:29] kkizlaitis opened #282 "1.0.0-pre.1 does not build with Flutter v1.17 (stable)"
Flutter released a new stable version yesterday. However, `1.0.0-pre.1` contains `flutter_svg: ^0.14.1` as a dependency, which does not build with Flutter v1.17. Please update the dependency.

[2020-05-08 02:47] canisterism commented on #282
FYI: There's a temporary workaround.

https://github.com/Sub6Resources/flutter_html/issues/251#issuecomment-613505241

[2020-05-08 05:17] kkizlaitis commented on #282
Thanks, indeed! Will work as a temporary fix :)

[2020-05-08 16:00] RyanSusana commented on #169
Can this be resolved  with the new Flutter Stable?

[2020-05-09 09:21] DocMarty84 commented on #264
@MilosKarakas

Hello,

Would you mind sharing your workaround?

Thanks

[2020-05-09 14:15] MilosKarakas commented on #264
Hey @DocMarty84  I just adjusted the controller to take the width and height of the element and calculate the ratio from that. I don't have the code at the moment, but it seems like your fix should work.

[2020-05-10 12:28] DocMarty84 commented on #264
Indeed, it seems working fine in all the cases I faced. For now I'll use it in my project, but hopefully it will be fixed soon.

Thanks!

[2020-05-10 15:34] MilosKarakas commented on #264
@DocMarty84 thank you for contributing. Hopefully it gets merged soon.

[2020-05-11 08:15] donguseo-cardoc opened #285 "<a><p>text</p></a> is not work"
It is not working when I tried to parse html text which looks like this.

[code]

[2020-05-11 20:46] FullstackJack commented on #212
@Sub6Resources I needed letterspacing and other missing attributes as well. Why even have an intermediary Style class? Why not pass through TextStyle for text widgets and BoxDecoration for container views? I think you should change this interface to match the rest of the flutter styling ecosystem as it will simplify usage. If you still want a Style class for handling CSS stylesheet code, that's fi

[2020-05-11 21:18] FullstackJack commented on #259
@Sub6Resources Please close this ticket.

[2020-05-11 21:20] FullstackJack commented on #212
Okay, I see that you've added letterSpacing and wordSpacing to new-parser branch. Would you mind releasing a new version?

[2020-05-11 21:50] Sub6Resources commented on #275
Good catch! Fixed in 1.0.0.

[2020-05-11 22:24] #14 closed

[2020-05-11 22:24] #18 closed

[2020-05-11 22:24] #55 closed

[2020-05-11 22:24] #64 closed

[2020-05-11 22:24] #105 closed

[2020-05-11 22:24] #106 closed

[2020-05-11 22:24] #107 closed

[2020-05-11 22:24] #108 closed

[2020-05-11 22:24] #121 closed

[2020-05-11 22:24] #123 closed

[2020-05-11 22:24] #126 closed

[2020-05-11 22:24] #127 closed

[2020-05-11 22:24] #128 closed

[2020-05-11 22:24] #141 closed

[2020-05-11 22:24] #147 closed

[2020-05-11 22:24] #158 closed